infra/schema/src/main/resources/xml/ns/public/model/workflow/common-forms-2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- Copyright (c) 2011 Evolveum                             -->
<!--                                                         -->
<!-- The contents of this file are subject to the terms      -->
<!-- of the Common Development and Distribution License      -->
<!-- (the License). You may not use this file except in      -->
<!-- compliance with the License.                            -->
<!--                                                         -->
<!-- You can obtain a copy of the License at                 -->
<!-- http://www.opensource.org/licenses/cddl1 or             -->
<!-- CDDLv1.0.txt file in the source code distribution.      -->
<!-- See the License for the specific language governing     -->
<!-- permission and limitations under the License.           -->
<!--                                                         -->
<!-- If applicable, add the following below the CDDL Header, -->
<!-- with the fields enclosed by brackets [] replaced by     -->
<!-- your own identifying information:                       -->
<!--                                                         -->
<!-- Portions Copyrighted 2011 [name of copyright owner]     -->
<!-- Portions Copyrighted 2011 Pavol Mederly                 -->

<xsd:schema targetNamespace="http://midpoint.evolveum.com/xml/ns/model/workflow/common-forms-2"
            xmlns:tns="http://midpoint.evolveum.com/xml/ns/model/workflow/common-forms-2"
            xmlns:a="http://prism.evolveum.com/xml/ns/public/annotation-2"
            xmlns:c="http://midpoint.evolveum.com/xml/ns/public/common/common-2a"
            xmlns:t="http://prism.evolveum.com/xml/ns/public/types-2"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">

    <xsd:annotation>
        <xsd:documentation>
            Common work item forms.
        </xsd:documentation>
    </xsd:annotation>

    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/types-2"
                schemaLocation="http://prism.evolveum.com/xml/ns/public/types-2">
        <xsd:annotation>
            <xsd:documentation>
                Prism data types.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:import>

    <xsd:import namespace="http://midpoint.evolveum.com/xml/ns/public/common/common-2a"
                schemaLocation="http://midpoint.evolveum.com/xml/ns/public/common/common-2a">
        <xsd:annotation>
            <xsd:documentation>
                Common schema
            </xsd:documentation>
        </xsd:annotation>
    </xsd:import>

    <xsd:complexType name="RoleApprovalFormType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:object/>
            </xsd:appinfo>
            <xsd:documentation>
                TODO
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="c:ObjectType">
                <xsd:sequence>
                    <xsd:element name="user" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>User name</a:displayName>
                                <a:displayOrder>100</a:displayOrder>
                                <a:access>read</a:access>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="role" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>Role to be approved</a:displayName>
                                <a:displayOrder>110</a:displayOrder>
                                <a:access>read</a:access>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="timeInterval" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>Time interval</a:displayName>
                                <a:displayOrder>120</a:displayOrder>
                                <a:access>read</a:access>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="requesterComment" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>Requester's comment</a:displayName>
                                <a:displayOrder>130</a:displayOrder>
                                <a:access>read</a:access>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="comment" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>Your comment</a:displayName>
                                <a:displayOrder>140</a:displayOrder>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="roleApprovalForm" type="tns:RoleApprovalFormType" substitutionGroup="c:object"/>

    <xsd:complexType name="TrackingDataFormType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:object/>
            </xsd:appinfo>
            <xsd:documentation>
                TODO
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="c:ObjectType">
                <xsd:sequence>
                    <xsd:element name="taskId" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>Activiti task identifier</a:displayName>
                                <a:displayOrder>100</a:displayOrder>
                                <a:access>read</a:access>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="processInstanceId" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>Activiti process instance identifier</a:displayName>
                                <a:displayOrder>110</a:displayOrder>
                                <a:access>read</a:access>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="executionId" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>Activiti process execution identifier</a:displayName>
                                <a:displayOrder>120</a:displayOrder>
                                <a:access>read</a:access>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="taskOwner" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>Task owner</a:displayName>
                                <a:displayOrder>130</a:displayOrder>
                                <a:access>read</a:access>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="taskAssignee" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>Task assignee</a:displayName>
                                <a:displayOrder>140</a:displayOrder>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="taskCandidates" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>Task candidates</a:displayName>
                                <a:displayOrder>150</a:displayOrder>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="processDefinitionKey" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>Activiti process definition key (name)</a:displayName>
                                <a:displayOrder>160</a:displayOrder>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="processDefinitionId" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>Activiti process definition identifier</a:displayName>
                                <a:displayOrder>170</a:displayOrder>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="shadowTaskOid" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>Corresponding (shadow) task for this process instance</a:displayName>
                                <a:displayOrder>200</a:displayOrder>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="trackingDataForm" type="tns:TrackingDataFormType" substitutionGroup="c:object"/>

</xsd:schema>
