infra/schema/src/main/resources/xml/ns/public/model/workflow/extension-3.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2010-2016 Evolveum
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<xsd:schema targetNamespace="http://midpoint.evolveum.com/model/workflow/extension-3"
            xmlns:tns="http://midpoint.evolveum.com/model/workflow/extension-3"
            xmlns:c="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
            xmlns:a="http://prism.evolveum.com/xml/ns/public/annotation-3"
            xmlns:t="http://prism.evolveum.com/xml/ns/public/types-3"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">

    <xsd:annotation>
        <xsd:documentation>
            Workflow task extensions.
        </xsd:documentation>
    </xsd:annotation>

    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/types-3"
                schemaLocation="http://prism.evolveum.com/xml/ns/public/types-3">
        <xsd:annotation>
            <xsd:documentation>
                Prism data types.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:import>

    <xsd:import namespace="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
                schemaLocation="http://midpoint.evolveum.com/xml/ns/public/common/common-3">
    </xsd:import>
    
    <xsd:complexType name="Fake">
		<xsd:annotation>
			<xsd:documentation>
				Fake definition. We need at least one definition here, otherwise JAXB
				will not create ObjectFactory and there will be errors when creating
				JAXB contexts.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="fake" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

    <!--<xsd:element name="deltaToProcess" type="t:ObjectDeltaType">-->
        <!--<xsd:annotation>-->
            <!--<xsd:documentation>-->
                <!--Contains deltaIn(i), i.e. delta(s) that has to be approved.-->
                <!--Valid for PrimaryChangeProcessor only.-->

                <!--DEPRECATED. Replaced by deltasToProcess.-->
            <!--</xsd:documentation>-->
            <!--<xsd:appinfo>-->
                <!--<a:indexed>false</a:indexed>-->
                <!--<a:minOccurs>0</a:minOccurs>-->
                <!--<a:maxOccurs>-1</a:maxOccurs>-->
            <!--</xsd:appinfo>-->
        <!--</xsd:annotation>-->
    <!--</xsd:element>-->

    <!--<xsd:element name="deltasToProcess" type="c:ObjectTreeDeltasType">-->
        <!--<xsd:annotation>-->
            <!--<xsd:documentation>-->
                <!--Contains deltaIn(i), i.e. delta(s) that has to be approved.-->
                <!--Valid for PrimaryChangeProcessor only.-->
            <!--</xsd:documentation>-->
            <!--<xsd:appinfo>-->
                <!--<a:indexed>false</a:indexed>-->
                <!--<a:minOccurs>0</a:minOccurs>-->
                <!--<a:maxOccurs>1</a:maxOccurs>-->
            <!--</xsd:appinfo>-->
        <!--</xsd:annotation>-->
    <!--</xsd:element>-->

    <!--<xsd:element name="resultingDelta" type="t:ObjectDeltaType">-->
        <!--<xsd:annotation>-->
            <!--<xsd:documentation>-->
                <!--Contains deltaOut(i), i.e. delta(s) that are the result of the approval process. The most-->
                <!--common situation is that deltaOut(i) = either deltaIn(i) (if approved),-->
                <!--or null/empty delta (if rejected).-->

                <!--Valid for PrimaryChangeProcessor only.-->

                <!--DEPRECATED. Replaced by resultingDeltas.-->
            <!--</xsd:documentation>-->
            <!--<xsd:appinfo>-->
                <!--<a:indexed>false</a:indexed>-->
                <!--<a:minOccurs>0</a:minOccurs>-->
                <!--<a:maxOccurs>-1</a:maxOccurs>-->
            <!--</xsd:appinfo>-->
        <!--</xsd:annotation>-->
    <!--</xsd:element>-->

    <!--<xsd:element name="resultingDeltas" type="c:ObjectTreeDeltasType">-->
        <!--<xsd:annotation>-->
            <!--<xsd:documentation>-->
                <!--Contains deltaOut(i), i.e. delta(s) that are the result of the approval process. The most-->
                <!--common situation is that deltaOut(i) = either deltaIn(i) (if approved),-->
                <!--or null/empty delta (if rejected).-->

                <!--Valid for PrimaryChangeProcessor only.-->
            <!--</xsd:documentation>-->
            <!--<xsd:appinfo>-->
                <!--<a:indexed>false</a:indexed>-->
                <!--<a:minOccurs>0</a:minOccurs>-->
                <!--<a:maxOccurs>1</a:maxOccurs>-->
            <!--</xsd:appinfo>-->
        <!--</xsd:annotation>-->
    <!--</xsd:element>-->

    <!--<xsd:element name="approvedBy" type="c:ObjectReferenceType">-->
        <!--<xsd:annotation>-->
            <!--<xsd:documentation>-->
                <!--Contains a set of approvers who approved the delta(s). The wf code should put here those approvers-->
                <!--that will be stored into approvers list in metadata when the operation is really executed.-->
            <!--</xsd:documentation>-->
            <!--<xsd:appinfo>-->
                <!--<a:indexed>false</a:indexed>-->
                <!--<a:minOccurs>0</a:minOccurs>-->
                <!--<a:maxOccurs>-1</a:maxOccurs>-->
                <!--<a:objectReferenceTargetType>c:UserType</a:objectReferenceTargetType>-->
            <!--</xsd:appinfo>-->
        <!--</xsd:annotation>-->
    <!--</xsd:element>-->

    <!--<xsd:element name="processInstanceId" type="xsd:string">-->
        <!--<xsd:annotation>-->
            <!--<xsd:documentation>-->
                <!--Contains relevant activiti process instance ID (when known).-->
            <!--</xsd:documentation>-->
            <!--<xsd:appinfo>-->
                <!--<a:indexed>true</a:indexed>-->
                <!--<a:minOccurs>0</a:minOccurs>-->
                <!--<a:maxOccurs>1</a:maxOccurs>-->
            <!--</xsd:appinfo>-->
        <!--</xsd:annotation>-->
    <!--</xsd:element>-->

    <!--<xsd:element name="processInstanceFinished" type="xsd:boolean">-->
        <!--<xsd:annotation>-->
            <!--<xsd:documentation>-->
                <!--Just a flag whether the process instance related to the task has already finished (used e.g. to-->
                <!--determine if the shadowing handler should end or not).-->
            <!--</xsd:documentation>-->
            <!--<xsd:appinfo>-->
                <!--<a:indexed>false</a:indexed>-->
                <!--<a:minOccurs>0</a:minOccurs>-->
                <!--<a:maxOccurs>1</a:maxOccurs>-->
            <!--</xsd:appinfo>-->
        <!--</xsd:annotation>-->
    <!--</xsd:element>-->

    <!--<xsd:element name="rootTaskOid" type="xsd:string">-->
        <!--<xsd:annotation>-->
            <!--<xsd:documentation>-->
                <!--OID of workflow root task that is stored into original task in the context of which the model operation was called.-->
            <!--</xsd:documentation>-->
            <!--<xsd:appinfo>-->
                <!--<a:indexed>true</a:indexed>-->
                <!--<a:minOccurs>0</a:minOccurs>-->
                <!--<a:maxOccurs>1</a:maxOccurs>-->
            <!--</xsd:appinfo>-->
        <!--</xsd:annotation>-->
    <!--</xsd:element>-->

    <!--<xsd:element name="changeProcessor" type="xsd:string">-->
        <!--<xsd:annotation>-->
            <!--<xsd:documentation>-->
                <!--Contains name of class that manages this particular model operation ("change", thus "change processor").-->
                <!--See https://wiki.evolveum.com/display/midPoint/Workflow+Management.-->
            <!--</xsd:documentation>-->
            <!--<xsd:appinfo>-->
                <!--<a:indexed>true</a:indexed>-->
                <!--<a:minOccurs>0</a:minOccurs>-->
                <!--<a:maxOccurs>1</a:maxOccurs>-->
            <!--</xsd:appinfo>-->
        <!--</xsd:annotation>-->
    <!--</xsd:element>-->

    <!--<xsd:element name="primaryChangeAspect" type="xsd:string">-->
        <!--<xsd:annotation>-->
            <!--<xsd:documentation>-->
                <!--The name of a class that provides an interface between midPoint and activiti process.-->
                <!--See https://wiki.evolveum.com/display/midPoint/Workflow+Management.-->

                <!--Valid for PrimaryChangeProcessor only.-->
            <!--</xsd:documentation>-->
            <!--<xsd:appinfo>-->
                <!--<a:indexed>true</a:indexed>-->
                <!--<a:minOccurs>0</a:minOccurs>-->
                <!--<a:maxOccurs>1</a:maxOccurs>-->
            <!--</xsd:appinfo>-->
        <!--</xsd:annotation>-->
    <!--</xsd:element>-->

    <!--<xsd:element name="status" type="xsd:string">-->
        <!--<xsd:annotation>-->
            <!--<xsd:documentation>-->
                <!--Contains history of process status messages. Such messages can contain any process-related-->
                <!--messages that should be visible to the user (e.g. "your request was approved by engineering group,-->
                <!--and is being sent to the management"). For simple processes, the status has mostly the value-->
                <!--"Workflow process instance has proceeded". In order to be able to sort these status messages-->
                <!--chronologically, each is prefixed by a timestamp (long value + formatted string value).-->

                <!--Storing of these wfStatus values can be simply turned off in WfTaskUtil class.-->
            <!--</xsd:documentation>-->
            <!--<xsd:appinfo>-->
                <!--<a:indexed>false</a:indexed>-->
                <!--<a:minOccurs>0</a:minOccurs>-->
                <!--<a:maxOccurs>-1</a:maxOccurs>-->
            <!--</xsd:appinfo>-->
        <!--</xsd:annotation>-->
    <!--</xsd:element>-->

    <!--<xsd:element name="lastVariables" type="xsd:string">-->
        <!--<xsd:annotation>-->
            <!--<xsd:documentation>-->
                <!--A dump of recent process instance variables (for diagnostic purposes).-->
            <!--</xsd:documentation>-->
            <!--<xsd:appinfo>-->
                <!--<a:indexed>false</a:indexed>-->
                <!--<a:minOccurs>0</a:minOccurs>-->
                <!--<a:maxOccurs>1</a:maxOccurs>-->
            <!--</xsd:appinfo>-->
        <!--</xsd:annotation>-->
    <!--</xsd:element>-->

    <!--<xsd:element name="lastDetails" type="xsd:string">-->
        <!--<xsd:annotation>-->
            <!--<xsd:documentation>-->
                <!--String representation of recent process instance information (for diagnostic purposes).-->
            <!--</xsd:documentation>-->
            <!--<xsd:appinfo>-->
                <!--<a:indexed>false</a:indexed>-->
                <!--<a:minOccurs>0</a:minOccurs>-->
                <!--<a:maxOccurs>1</a:maxOccurs>-->
            <!--</xsd:appinfo>-->
        <!--</xsd:annotation>-->
    <!--</xsd:element>-->

</xsd:schema>
