infra/schema/src/main/resources/xml/ns/public/model/workflow/process-instance-state-3.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2010-2014 Evolveum
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<xsd:schema targetNamespace="http://midpoint.evolveum.com/xml/ns/model/workflow/process-instance-state-3"
            xmlns:tns="http://midpoint.evolveum.com/xml/ns/model/workflow/process-instance-state-3"
            xmlns:a="http://prism.evolveum.com/xml/ns/public/annotation-3"
            xmlns:c="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
            xmlns:t="http://prism.evolveum.com/xml/ns/public/types-3"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">

    <xsd:annotation>
        <xsd:documentation>
            Externalized process instance state.
        </xsd:documentation>
    </xsd:annotation>

    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/types-3"
                schemaLocation="http://prism.evolveum.com/xml/ns/public/types-3">
        <xsd:annotation>
            <xsd:documentation>
                Prism data types.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:import>

    <xsd:import namespace="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
                schemaLocation="http://midpoint.evolveum.com/xml/ns/public/common/common-3">
        <xsd:annotation>
            <xsd:documentation>
                Common schema
            </xsd:documentation>
        </xsd:annotation>
    </xsd:import>

    <!--<xsd:complexType name="ProcessInstanceState">-->
        <!--<xsd:annotation>-->
            <!--<xsd:appinfo>-->
                <!--<a:object/>-->
            <!--</xsd:appinfo>-->
            <!--<xsd:documentation>-->
                <!--Generic process instance state, common to all workflow processes.-->
            <!--</xsd:documentation>-->
        <!--</xsd:annotation>-->
        <!--<xsd:complexContent>-->
            <!--<xsd:extension base="c:ObjectType">-->
                <!--<xsd:sequence>-->
                    <!--<xsd:element name="processInstanceName" type="xsd:string">-->
                        <!--<xsd:annotation>-->
                            <!--<xsd:documentation>-->
                                <!--Name of the process instance. It is defined by the code that starts-->
                                <!--the process instance and should describe the purpose of the process-->
                                <!--instance as precisely as possible. An example: "Approving adding Webmaster to JoeDoe".-->
                            <!--</xsd:documentation>-->
                        <!--</xsd:annotation>-->
                    <!--</xsd:element>-->
                    <!--<xsd:element name="startTime" type="xsd:dateTime">-->
                        <!--<xsd:annotation>-->
                            <!--<xsd:documentation>-->
                                <!--When the particular process instance started.-->
                            <!--</xsd:documentation>-->
                        <!--</xsd:annotation>-->
                    <!--</xsd:element>-->
                    <!--<xsd:element name="shadowTaskOid" type="xsd:string" minOccurs="0">-->
                        <!--<xsd:annotation>-->
                            <!--<xsd:documentation>-->
                                <!--OID of process instance shadowing task in midPoint. (Process variable midPointTaskOid).-->
                            <!--</xsd:documentation>-->
                        <!--</xsd:annotation>-->
                    <!--</xsd:element>-->
                    <!--<xsd:element name="changeProcessor" type="xsd:string">-->
                        <!--<xsd:annotation>-->
                            <!--<xsd:documentation>-->
                                <!--Class name of the midPoint change processor that manages this particular change request.-->
                                <!--(Process variable midPointChangeProcessor.)-->
                            <!--</xsd:documentation>-->
                        <!--</xsd:annotation>-->
                    <!--</xsd:element>-->
                    <!--<xsd:element name="requesterOid" type="xsd:string">-->
                        <!--<xsd:annotation>-->
                            <!--<xsd:documentation>-->
                                <!--OID of the change requester. (Process variable midPointRequesterOid.)-->
                            <!--</xsd:documentation>-->
                        <!--</xsd:annotation>-->
                    <!--</xsd:element>-->
                    <!--<xsd:element name="objectOid" type="xsd:string" minOccurs="0">-->
                        <!--<xsd:annotation>-->
                            <!--<xsd:documentation>-->
                                <!--OID of the object being changed (if applicable). (Process variable midPointObjectOid.)-->
                            <!--</xsd:documentation>-->
                        <!--</xsd:annotation>-->
                    <!--</xsd:element>-->
                    <!--<xsd:element name="state" type="xsd:string">-->
                        <!--<xsd:annotation>-->
                            <!--<xsd:documentation>-->
                                <!--Value of process variable "wfState" that should describe current state of-->
                                <!--the process instance (e.g. "Request was approved by Engineering, passed now to-->
                                <!--the Management Group").-->
                            <!--</xsd:documentation>-->
                        <!--</xsd:annotation>-->
                    <!--</xsd:element>-->
                    <!--<xsd:element name="answer" type="xsd:string">-->
                        <!--<xsd:annotation>-->
                            <!--<xsd:documentation>-->
                                <!--Value of process variable "wfAnswer" that should describe overall outcome-->
                                <!--of the process instance.-->
                            <!--</xsd:documentation>-->
                        <!--</xsd:annotation>-->
                    <!--</xsd:element>-->
                    <!--<xsd:element name="processorSpecificState" type="tns:ProcessorSpecificState">-->
                        <!--<xsd:annotation>-->
                            <!--<xsd:documentation>-->
                                <!--State that is specific to a given change processor.-->
                            <!--</xsd:documentation>-->
                        <!--</xsd:annotation>-->
                    <!--</xsd:element>-->
                    <!--<xsd:element name="processSpecificState" type="tns:ProcessSpecificState">-->
                        <!--<xsd:annotation>-->
                            <!--<xsd:documentation>-->
                                <!--State that is specific to a given BPMN process.-->
                            <!--</xsd:documentation>-->
                        <!--</xsd:annotation>-->
                    <!--</xsd:element>-->
                <!--</xsd:sequence>-->
            <!--</xsd:extension>-->
        <!--</xsd:complexContent>-->
    <!--</xsd:complexType>-->
    <!--<xsd:element name="processInstanceState" type="tns:ProcessInstanceState" substitutionGroup="c:object"/>-->

    <!--<xsd:complexType name="ProcessorSpecificState">-->
        <!--<xsd:annotation>-->
            <!--<xsd:appinfo>-->
                <!--<a:container/>-->
            <!--</xsd:appinfo>-->
            <!--<xsd:documentation>-->
                <!--Marker class for classes that describe states that are specific to a given change processor.-->
            <!--</xsd:documentation>-->
        <!--</xsd:annotation>-->
    <!--</xsd:complexType>-->
    <!--<xsd:element name="processorSpecificState" type="tns:ProcessorSpecificState"/>-->

    <!--<xsd:complexType name="PrimaryChangeProcessorState">-->
        <!--<xsd:annotation>-->
            <!--<xsd:appinfo>-->
                <!--<a:container/>-->
            <!--</xsd:appinfo>-->
            <!--<xsd:documentation>-->
                <!--TODO-->
            <!--</xsd:documentation>-->
        <!--</xsd:annotation>-->
        <!--<xsd:complexContent>-->
            <!--<xsd:extension base="tns:ProcessorSpecificState">-->
                <!--<xsd:sequence>-->
                    <!--<xsd:element name="changeAspect" type="xsd:string"/>-->
                    <!--<xsd:element name="objectToBeAdded" type="c:ObjectType" minOccurs="0" maxOccurs="1">-->
                        <!--<xsd:annotation>-->
                            <!--<xsd:appinfo>-->
                                <!--<a:objectReference>tns:objectToBeAddedRef</a:objectReference>-->
                            <!--</xsd:appinfo>-->
                        <!--</xsd:annotation>-->
                    <!--</xsd:element>-->
                    <!--<xsd:element name="objectToBeAddedRef" type="c:ObjectReferenceType" minOccurs="0" maxOccurs="1">-->
                        <!--<xsd:annotation>-->
                            <!--<xsd:appinfo>-->
                                <!--<a:objectReferenceTargetType>tns:ObjectType</a:objectReferenceTargetType>-->
                            <!--</xsd:appinfo>-->
                        <!--</xsd:annotation>-->
                    <!--</xsd:element>-->
                    <!--<xsd:element name="delta" type="t:ObjectDeltaType" minOccurs="0"/>-->
                <!--</xsd:sequence>-->
            <!--</xsd:extension>-->
        <!--</xsd:complexContent>-->
    <!--</xsd:complexType>-->
    <!--<xsd:element name="primaryChangeProcessorState" type="tns:PrimaryChangeProcessorState"/>-->

    <!--<xsd:complexType name="GeneralChangeProcessorState">-->
        <!--<xsd:annotation>-->
            <!--<xsd:appinfo>-->
                <!--<a:container/>-->
            <!--</xsd:appinfo>-->
            <!--<xsd:documentation>-->
                <!--TODO-->
            <!--</xsd:documentation>-->
        <!--</xsd:annotation>-->
        <!--<xsd:complexContent>-->
            <!--<xsd:extension base="tns:ProcessorSpecificState">-->
                <!--<xsd:sequence>-->
                    <!--<xsd:element name="scenario" type="xsd:string"/>-->
                <!--</xsd:sequence>-->
            <!--</xsd:extension>-->
        <!--</xsd:complexContent>-->
    <!--</xsd:complexType>-->
    <!--<xsd:element name="generalChangeProcessorState" type="tns:GeneralChangeProcessorState"/>-->

    <!--<xsd:complexType name="ProcessSpecificState">-->
        <!--<xsd:annotation>-->
            <!--<xsd:appinfo>-->
                <!--<a:container/>-->
            <!--</xsd:appinfo>-->
            <!--<xsd:documentation>-->
                <!--Marker class for classes that describe states that are specific to a given BPMN process.-->
            <!--</xsd:documentation>-->
        <!--</xsd:annotation>-->
    <!--</xsd:complexType>-->
    <!--<xsd:element name="processSpecificState" type="tns:ProcessSpecificState"/>-->

    <!--<xsd:complexType name="ItemApprovalProcessState">-->
        <!--<xsd:annotation>-->
            <!--<xsd:appinfo>-->
                <!--<a:container/>-->
            <!--</xsd:appinfo>-->
            <!--<xsd:documentation>-->
                <!--TODO-->
            <!--</xsd:documentation>-->
        <!--</xsd:annotation>-->
        <!--<xsd:complexContent>-->
            <!--<xsd:extension base="tns:ProcessSpecificState">-->
                <!--<xsd:sequence>-->
                    <!--<xsd:element name="approvalRequest" type="tns:ItemApprovalRequestType"/>-->
                    <!--<xsd:element name="decisions" type="c:DecisionType" minOccurs="0" maxOccurs="unbounded"/>-->
                <!--</xsd:sequence>-->
            <!--</xsd:extension>-->
        <!--</xsd:complexContent>-->
    <!--</xsd:complexType>-->
    <!--<xsd:element name="itemApprovalProcessState" type="tns:ItemApprovalProcessState" />-->

    <!--<xsd:complexType name="ItemApprovalRequestType">-->
        <!--<xsd:annotation>-->
            <!--<xsd:appinfo>-->
                <!--<a:container/>-->
            <!--</xsd:appinfo>-->
            <!--<xsd:documentation>-->
                <!--TODO-->
            <!--</xsd:documentation>-->
        <!--</xsd:annotation>-->
        <!--<xsd:sequence>-->
            <!--<xsd:element name="itemToApprove" type="xsd:anyType"/>          &lt;!&ndash; Containerable &ndash;&gt;-->
            <!--<xsd:element name="approvalSchema" type="c:ApprovalSchemaType" minOccurs="0" />-->
        <!--</xsd:sequence>-->
    <!--</xsd:complexType>-->
    <!--<xsd:element name="itemApprovalRequestType" type="tns:ItemApprovalRequestType" />-->

</xsd:schema>
