infra/schema/src/main/resources/xml/ns/public/connector/icf-1/connector-schema-3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2010-2013 Evolveum
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
 
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://midpoint.evolveum.com/xml/ns/public/connector/icf-1/connector-schema-3"
    xmlns:tns="http://midpoint.evolveum.com/xml/ns/public/connector/icf-1/connector-schema-3"
    xmlns:a="http://prism.evolveum.com/xml/ns/public/annotation-3"
    elementFormDefault="qualified">    

    <xsd:annotation>
        <xsd:documentation>
 			Identity Connector Framework version 1 (ICF1) connector configuration schema.
 			
 			TODO

			The specific connector schemas are based on this definition.
			MidPoint will look for the definition of top-level element that is
			by convention the element with local name "configuration". It will use it as basic definition
			for resource configuration. The definition of "configuration" element will most likely
			refer to the data types and elements used in this schema definition.
 			
 			Version: 3.1
            Recommended namespace prefix: icfc
        </xsd:documentation>
    </xsd:annotation>

    <xsd:complexType name="ConfigurationPropertiesType">
		<xsd:annotation>
			<xsd:documentation>
				TODO
			</xsd:documentation>
			<xsd:appinfo>
				<a:container/>
				<a:ignoredNamespace>http://midpoint.evolveum.com/</a:ignoredNamespace>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="configurationProperties" type="tns:ConfigurationPropertiesType">
		<xsd:annotation>
			<xsd:appinfo>
				<a:maxOccurs>1</a:maxOccurs>
                <a:displayOrder>100</a:displayOrder>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
    
    <xsd:complexType name="ConnectorPoolConfigurationType">
		<xsd:annotation>
			<xsd:documentation>
				Type that contains configuration of ICF connector pools. This configuration is common for all
				ICF connectors, therefore it may be part of a static schema.
			</xsd:documentation>
			<xsd:appinfo>
				<a:container/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="minEvictableIdleTimeMillis" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						TODO
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="minIdle" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						TODO
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="maxIdle" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						TODO
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="maxObjects" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						TODO
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="maxWait" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						TODO
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="connectorPoolConfiguration" type="tns:ConnectorPoolConfigurationType">
		<xsd:annotation>
			<xsd:documentation>
				Element that contains configuration of ICF connector pools.
			</xsd:documentation>
			<xsd:appinfo>
				<a:maxOccurs>1</a:maxOccurs>
                <a:displayOrder>200</a:displayOrder>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="producerBufferSize" type="xsd:int">
		<xsd:annotation>
			<xsd:documentation>
				TODO
			</xsd:documentation>
			<xsd:appinfo>
				<a:maxOccurs>1</a:maxOccurs>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="timeouts" type="tns:TimeoutsType">
		<xsd:annotation>
			<xsd:documentation>
				TODO
			</xsd:documentation>
			<xsd:appinfo>
				<a:maxOccurs>1</a:maxOccurs>
                <a:displayOrder>300</a:displayOrder>
            </xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
		

	<xsd:complexType name="TimeoutsType">
		<xsd:annotation>
			<xsd:documentation>
				Type that contains configuration of ICF operation timeouts.
			</xsd:documentation>
			<xsd:appinfo>
				<a:container/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="create" type="xsd:int" minOccurs="0">
			</xsd:element>
			<xsd:element name="get" type="xsd:int" minOccurs="0">
			</xsd:element>
			<xsd:element name="update" type="xsd:int" minOccurs="0">
			</xsd:element>
			<xsd:element name="delete" type="xsd:int" minOccurs="0">
			</xsd:element>
			<xsd:element name="test" type="xsd:int" minOccurs="0">
			</xsd:element>
			<xsd:element name="scriptOnConnector" type="xsd:int" minOccurs="0">
			</xsd:element>
			<xsd:element name="scriptOnResource" type="xsd:int" minOccurs="0">
			</xsd:element>
			<xsd:element name="authentication" type="xsd:int" minOccurs="0">
			</xsd:element>
			<xsd:element name="search" type="xsd:int" minOccurs="0">
			</xsd:element>
			<xsd:element name="validate" type="xsd:int" minOccurs="0">
			</xsd:element>
			<xsd:element name="sync" type="xsd:int" minOccurs="0">
			</xsd:element>
			<xsd:element name="schema" type="xsd:int" minOccurs="0">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="ResultsHandlerConfigurationType">
        <xsd:annotation>
            <xsd:documentation>
                Type that contains configuration of ICF results handlers.

                There is a default consisting of these handlers: NormalizingResultsHandler, FilteredResultsHandler, AttributesToGetSearchResultsHandler.

                This configuration allow to overconfigure the chain. E.g. to enable case-sensitive searches.

                (This configuration is common for all ICF connectors, therefore it may be part of a static schema.)
            </xsd:documentation>
            <xsd:appinfo>
                <a:container/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="enableNormalizingResultsHandler" type="xsd:boolean" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        TODO
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayOrder>200</a:displayOrder>
                        <a:help>enableNormalizingResultsHandlerHelp</a:help>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="enableFilteredResultsHandler" type="xsd:boolean" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        TODO
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayOrder>100</a:displayOrder>
                        <a:help>enableFilteredResultsHandlerHelp</a:help>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="filteredResultsHandlerInValidationMode" type="xsd:boolean" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        TODO
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayOrder>110</a:displayOrder>
                        <a:help>filteredResultsHandlerInValidationModeHelp</a:help>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="enableCaseInsensitiveFilter" type="xsd:boolean" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        TODO
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayOrder>120</a:displayOrder>
                        <a:help>enableCaseInsensitiveFilterHelp</a:help>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="enableAttributesToGetSearchResultsHandler" type="xsd:boolean" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        TODO
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayOrder>300</a:displayOrder>
                        <a:help>enableAttributesToGetSearchResultsHandlerHelp</a:help>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="resultsHandlerConfiguration" type="tns:ResultsHandlerConfigurationType">
        <xsd:annotation>
            <xsd:documentation>
                Element that contains configuration of ICF results handlers.
            </xsd:documentation>
            <xsd:appinfo>
                <a:maxOccurs>1</a:maxOccurs>
                <a:displayOrder>400</a:displayOrder>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:element name="legacySchema" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>
				Forces schema processing in "legacy" mode.
				Legacy mode means that __ACCOUNT__ is translated as AccountObjectClass,
				__GROUP__ as GroupObjectClass and any other as CustomXXXXXObjectClass.
				Non-legacy mode does not translates object class names. They are used
				in the same form as provided by the connector.
			</xsd:documentation>
			<xsd:appinfo>
				<a:maxOccurs>1</a:maxOccurs>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>

</xsd:schema>

