provisioning/provisioning-impl/src/test/resources/resourceSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://midpoint.evolveum.com/xml/ns/public/resource/instances/ef2bc95b-76e0-48e2-86d6-3d4f02d3e1a2"
    xmlns:tns="http://midpoint.evolveum.com/xml/ns/public/resource/instances/ef2bc95b-76e0-48e2-86d6-3d4f02d3e1a2"
    xmlns:r="http://midpoint.evolveum.com/xml/ns/public/resource/resource-schema-1.xsd"
    elementFormDefault="qualified">
    <xsd:import namespace="http://midpoint.evolveum.com/xml/ns/public/resource/resource-schema-1.xsd" schemaLocation="resource-schema-1_TEST_COPY.xsd"/>
    <xsd:complexType name="AccountObjectClass">
        <xsd:annotation>
            <xsd:appinfo>
                <r:accountType>true</r:accountType>
                <r:identifier ref=""/>
                <r:displayName ref="ids:name"/>
                <r:accountType default="true"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="r:ResourceObjectClass">
                <xsd:sequence>
                    <xsd:element name="audio" type="xsd:base64Binary" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="seeAlso" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="employeeNumber" type="xsd:string" minOccurs="0" />
                    <xsd:element name="roomNumber" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="mail" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="registeredAddress" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="secretary" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="preferredLanguage" type="xsd:string" minOccurs="0" />
                    <xsd:element name="postalAddress" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="jpegPhoto" type="xsd:base64Binary" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="objectClass" type="xsd:string" maxOccurs="unbounded" minOccurs="0"/>
                    <xsd:element name="userCertificate" type="xsd:base64Binary" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="description" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="teletexTerminalIdentifier" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="pager" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="carLicense" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="displayName" type="xsd:string" minOccurs="0" />
                    <xsd:element name="labeledUri" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="uid" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="homePostalAddress" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="photo" type="xsd:base64Binary" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="facsimileTelephoneNumber" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="preferredDeliveryMethod" type="xsd:string" minOccurs="0" />
                    <xsd:element name="homePhone" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="x121Address" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="l" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="o" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="businessCategory" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="street" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="postOfficeBox" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="postalCode" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="st" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="manager" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="departmentNumber" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="internationaliSDNNumber" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="employeeType" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="initials" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="sn" type="xsd:string" maxOccurs="unbounded" />
                    <xsd:element name="ou" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="physicalDeliveryOfficeName" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="telexNumber" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="userSMIMECertificate" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="userPassword" type="xsd:base64Binary" maxOccurs="unbounded" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:appinfo>
                                <r:classifiedAttribute>
                                    <r:encryption>SYMMETRIC</r:encryption>
                                    <r:classificationLevel>Secret</r:classificationLevel>
                                </r:classifiedAttribute>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mobile" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="userPKCS12" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="givenName" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="x500UniqueIdentifier" type="xsd:base64Binary" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="cn" type="xsd:string" maxOccurs="unbounded" />
                    <xsd:element name="destinationIndicator" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="telephoneNumber" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="title" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="flag" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="memberOf" type="xsd:string" maxOccurs="unbounded" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <r:resourceObjectReference>
                                    <r:targetObjectClass ref="tns:GroupObjectClass"/>
                                </r:resourceObjectReference>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="GroupObjectClass">
        <xsd:annotation>
            <xsd:appinfo>
                <r:identifier ref=""/>
                <r:displayName ref="ids:name"/>
                <r:accountType default="true"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="r:ResourceObjectClass">
                <xsd:annotation>
                    <xsd:appinfo>
                        <r:nativeObjectClass>__GROUP__</r:nativeObjectClass>
                        <r:container>true</r:container>
                        <r:operation action="LOCK">
                            <r:readAttribute ref="tns:flag"/>
                            <r:writeAttribute ref="tns:flag"/>
                            <r:valueFormula>inactive</r:valueFormula>
                        </r:operation>
                        <r:objectClassAttribute ref="tns:objectClass">inetOrgPerson AND organizationalPerson AND person</r:objectClassAttribute>
                        <r:descriptionAttribute ref="tns:description"/>
                        <r:displayName ref="tns:displayName"/>
                        <r:compositeIdentifier ref=""/>
                        <r:compositeIdentifier ref=""/>
                        <r:compositeIdentifier ref=""/>
                        <r:identifier ref="tns:uid"/>
                        <r:secondaryIdentifier ref="tns:cn"/>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="objectClass" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="description" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="displayName" type="xsd:string" minOccurs="0" />
                    <xsd:element name="ou" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="uid" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="cn" type="xsd:string" maxOccurs="unbounded" >
                        <xsd:annotation>
                            <xsd:appinfo>
                                <r:attributeFlag>AUDITED NOT_QUERYABLE NOT_UPDATEABLE</r:attributeFlag>
                                <r:attributeFlag>AUDITED</r:attributeFlag>
                                <r:nativeAttributeName>commonName</r:nativeAttributeName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>