repo/repo-sqale/src/test/resources/schema/extension.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  ~ Copyright (C) 2010-2021 Evolveum and contributors
  ~
  ~ This work is dual-licensed under the Apache License 2.0
  ~ and European Union Public License. See LICENSE file for details.
  -->

<xsd:schema elementFormDefault="qualified"
        targetNamespace="http://example.com/p"
        xmlns:tns="http://example.com/p"
        xmlns:c="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
        xmlns:a="http://prism.evolveum.com/xml/ns/public/annotation-3"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:t="http://prism.evolveum.com/xml/ns/public/types-3">

    <xsd:import namespace="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
            schemaLocation="http://midpoint.evolveum.com/xml/ns/public/common/common-3">
        <xsd:annotation>
            <xsd:documentation>
                Common objects.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:import>

    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/types-3"
            schemaLocation="http://prism.evolveum.com/xml/ns/public/types-3">
        <xsd:annotation>
            <xsd:documentation>
                Prism data types.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:import>

    <xsd:element name="shipName" type="xsd:string"/>

    <xsd:element name="dead" type="xsd:string"/>

    <xsd:element name="skipAutogeneration" type="xsd:boolean">
        <xsd:annotation>
            <xsd:appinfo>
                <a:indexed>true</a:indexed>
                <a:displayName>Do not generate</a:displayName>
                <a:displayOrder>10</a:displayOrder>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>


    <!-- generic object extension -->

    <xsd:complexType name="GenericObjectExtensionType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:extension ref="c:GenericObjectType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="stringType" type="xsd:string"/>
            <xsd:element name="floatType" type="xsd:float"/>
            <xsd:element name="doubleType" type="xsd:double"/>
            <xsd:element name="intType" type="xsd:int"/>
            <xsd:element name="shortType" type="xsd:short"/>
            <xsd:element name="longType" type="xsd:long"/>
            <xsd:element name="dateType" type="xsd:dateTime"/>
            <xsd:element name="decimalType" type="xsd:decimal"/>
            <xsd:element name="locations" type="tns:LocationsType"/>
            <xsd:element name="referenceType" type="c:ObjectReferenceType"/>
            <xsd:element name="polyType" type="t:PolyStringType"/>
            <xsd:element name="enumType" type="c:BeforeAfterType"/>
            <xsd:element name="skipAutogeneration" type="xsd:boolean" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:indexed>true</a:indexed>
                        <a:displayName>Do not generate</a:displayName>
                        <a:displayOrder>10</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="multivalued" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:indexed>true</a:indexed>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LocationsType">
        <xsd:sequence>
            <xsd:element name="location" type="tns:LocationType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LocationType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="key" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <!-- user extension -->

    <xsd:complexType name="UserExtensionType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:extension ref="c:UserType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <!-- values stored as JSON strings -->
            <xsd:element name="string" type="xsd:string"/>
            <xsd:element name="dateTime" type="xsd:dateTime"/>
            <xsd:element name="enum" type="c:BeforeAfterType"/>

            <!-- values stored as JSON numbers -->
            <xsd:element name="int" type="xsd:int"/>
            <xsd:element name="short" type="xsd:short"/>
            <xsd:element name="long" type="xsd:long"/>
            <xsd:element name="integer" type="xsd:integer"/>
            <xsd:element name="decimal" type="xsd:decimal"/>
            <xsd:element name="decimal-2" type="xsd:decimal"/>
            <xsd:element name="decimal-3" type="xsd:decimal"/>
            <xsd:element name="double" type="xsd:double"/>
            <xsd:element name="double-2" type="xsd:double"/>
            <xsd:element name="float" type="xsd:float"/>
            <xsd:element name="float-2" type="xsd:float"/>

            <!-- values stored as JSON boolean -->
            <xsd:element name="boolean" type="xsd:boolean"/>

            <!-- values stored as JSON objects -->
            <xsd:element name="poly" type="t:PolyStringType"/>
            <xsd:element name="ref" type="c:ObjectReferenceType"/>

            <!-- custom type, not recognized for indexing -->
            <xsd:element name="blob" type="xsd:base64Binary"/>
            <xsd:element name="locations" type="tns:LocationsType"/>

            <xsd:element name="string-ni" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:indexed>false</a:indexed>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <!-- TODO review/remove -->
            <xsd:element name="weapon" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:indexed>true</a:indexed>
                        <a:displayName>Weapon</a:displayName>
                        <a:displayOrder>120</a:displayOrder>
                        <a:help>The tool of mass slaughter</a:help>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="shipName" type="xsd:string" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:indexed>true</a:indexed>
                        <a:displayName>Ship Name</a:displayName>
                        <a:displayOrder>100</a:displayOrder>
                        <a:help>Name of yar scurvy vessel</a:help>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="loot" type="xsd:int" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:indexed>false</a:indexed>
                        <a:displayName>Loot</a:displayName>
                        <a:displayOrder>150</a:displayOrder>
                        <a:help>KEY_LOOT</a:help>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="funeralDate" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>Funeral</a:displayName>
                        <a:displayOrder>160</a:displayOrder>
                        <a:help>Dead men tell no tales</a:help>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="overrideActivation" type="c:ActivationStatusType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:indexed>true</a:indexed>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="sshPubKey" type="xsd:base64Binary" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:indexed>true</a:indexed>
                        <a:displayName>Ssh Public Key</a:displayName>
                        <a:displayOrder>119</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="unstable" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:indexed>false</a:indexed>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="indexOnly" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:indexOnly>true</a:indexOnly> <!-- MID-5558; implies indexed=true -->
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="protected" type="t:ProtectedStringType" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:indexed>false</a:indexed>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="hidden1" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:indexOnly>true</a:indexOnly> <!-- MID-5558; implies indexed=true -->
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="hidden2" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:indexOnly>true</a:indexOnly> <!-- MID-5558; implies indexed=true -->
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="hidden3" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:indexOnly>true</a:indexOnly> <!-- MID-5558; implies indexed=true -->
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="visible" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:indexed>true</a:indexed>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="visibleSingle" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:indexed>true</a:indexed>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AssignmentExtensionType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:extension ref="c:AssignmentType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>

            <!-- TODO review/remove -->
            <xsd:element name="weapon" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:indexed>true</a:indexed>
                        <a:displayName>Weapon</a:displayName>
                        <a:displayOrder>120</a:displayOrder>
                        <a:help>The tool of mass slaughter</a:help>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="shipName" type="xsd:string" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:indexed>true</a:indexed>
                        <a:displayName>Ship Name</a:displayName>
                        <a:displayOrder>100</a:displayOrder>
                        <a:help>Name of yar scurvy vessel</a:help>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="loot" type="xsd:int" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:indexed>false</a:indexed>
                        <a:displayName>Loot</a:displayName>
                        <a:displayOrder>150</a:displayOrder>
                        <a:help>KEY_LOOT</a:help>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="funeralDate" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>Funeral</a:displayName>
                        <a:displayOrder>160</a:displayOrder>
                        <a:help>Dead men tell no tales</a:help>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="overrideActivation" type="c:ActivationStatusType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:indexed>true</a:indexed>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="sshPubKey" type="xsd:base64Binary" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:indexed>true</a:indexed>
                        <a:displayName>Ssh Public Key</a:displayName>
                        <a:displayOrder>119</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="tns:skipAutogeneration"/>
            <xsd:element ref="tns:shipName"/>
            <xsd:element ref="tns:dead"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- TODO: review -->
    <xsd:complexType name="ShadowExtensionType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:extension ref="c:ShadowType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="stringType" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
