infra/schema/src/main/resources/xml/ns/public/common/common-simulations-3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2010-2022 Evolveum and contributors
  ~
  ~ This work is dual-licensed under the Apache License 2.0
  ~ and European Union Public License. See LICENSE file for details.
  -->

<!--suppress XmlUnusedNamespaceDeclaration -->
<xsd:schema targetNamespace="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
        xmlns:tns="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:a="http://prism.evolveum.com/xml/ns/public/annotation-3"
        xmlns:c="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
        xmlns:t="http://prism.evolveum.com/xml/ns/public/types-3"
        xmlns:q="http://prism.evolveum.com/xml/ns/public/query-3"
        xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
        elementFormDefault="qualified"
        xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
        jaxb:extensionBindingPrefixes="xjc"
        jaxb:version="2.0">

    <xsd:annotation>
        <xsd:documentation>
            TODO
        </xsd:documentation>
    </xsd:annotation>

    <!-- Don't provide schemaLocation here, as it causes xjc to really contact the URIs (!) -->
    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/annotation-3"/>
    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/types-3"/>
    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/query-3"/>

    <xsd:include schemaLocation="http://midpoint.evolveum.com/xml/ns/public/common/common-core-3"/>

    <xsd:complexType name="SimulationResultType">
        <xsd:annotation>
            <xsd:documentation>
                Result of a simulation run. The simulation may have run either on foreground or on background (within a task).
                In the latter case, the task run could be suspended and resumed, but the simulation result object stays the same.
            </xsd:documentation>
            <xsd:appinfo>
                <a:object/>
                <a:since>4.7</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:ObjectType">
                <xsd:sequence>
                    <xsd:element name="definition" type="tns:SimulationDefinitionType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                Definition of this simulation.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="startTimestamp" type="xsd:dateTime" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                When this simulation started.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="endTimestamp" type="xsd:dateTime" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                When this simulation ended.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rootTaskRef" type="tns:ObjectReferenceType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                Root task OID under which this simulation executes or executed. (Null for foreground simulations.)

                                Note that, in theory, there may be multiple simulations residing in a single activity tree.
                                Each concerned activity will have a corresponding reference to appropriate SimulationResultType.
                            </xsd:documentation>
                            <xsd:appinfo>
                                <a:objectReferenceTargetType>c:TaskType</a:objectReferenceTargetType>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <!-- TODO how to distinguish simulation that is "alive" i.e. the corresponding task is still running
                          or is suspended but expected to be resumed later? -->
                    <xsd:element name="configurationUsed" type="tns:ConfigurationSpecificationType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                What configuration was used to run the simulation?
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="metric" type="tns:AggregatedSimulationMetricValueType" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>
                                Aggregated values of individual metrics for this simulation. For example, the number of users
                                that were disabled. Or the number of attributes that were changed.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="processedObject" type="tns:SimulationResultProcessedObjectType" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>
                                Information about individual objects that were processed by this simulation.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="useOwnPartitionForProcessedObjects" type="xsd:boolean" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                TODO @Tony please remove this, and use definition/useOwnPartitionForProcessedObjects
                                to store in index table
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="simulationResult" type="tns:SimulationResultType" substitutionGroup="c:object"/>

    <xsd:complexType name="SystemConfigurationSimulationType">
        <xsd:annotation>
            <xsd:documentation>
                Global configuration of simulations.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container/>
                <a:since>4.7</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="metric" type="tns:GlobalSimulationMetricDefinitionType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Definition of a metric that can not be described by using an event tag alone.

                        TODO name (custom metric? metric?)
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:container/>
                        <a:since>4.7</a:since>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="definition" type="tns:SimulationDefinitionType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Globally-known definitions of simulations.
                        For any particular simulation, one of them should be selected.
                        (Or a custom one may be defined.)
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:container/>
                        <a:since>4.7</a:since>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GlobalSimulationMetricDefinitionType">
        <xsd:annotation>
            <xsd:documentation>
                Definition of a metric that can not be described by using an event tag alone.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container/>
                <a:since>4.7</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="identifier" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Identifier of the metric.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="tns:documentation" minOccurs="0"/>
            <xsd:element name="display" type="tns:DisplayType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Display style of the metric.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice>
                <xsd:element name="objectValue" type="tns:OriginalSimulationMetricComputationType" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>
                            TODO
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="aggregation" type="tns:AggregatedSimulationMetricComputationType" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>
                            TODO
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            <xsd:element name="domain" type="tns:SimulationResultProcessedObjectPredicateType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Domain for aggregation - i.e. specification of objects that undergo the aggregation.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <!-- TODO how is the metric displayed (@Vilo); see how it's done in dashboards -->
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AbstractSimulationMetricReferenceType">
        <xsd:annotation>
            <xsd:documentation>
                Reference to an abstract simulation metric, i.e. one that is based on either explicit definition, or
                an event tag.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container/>
                <a:since>4.7</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:choice>
            <xsd:element name="identifier" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Identifier of a "custom" metric.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="eventTagRef" type="tns:ObjectReferenceType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Reference to an event tag.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:objectReferenceTargetType>c:TagType</a:objectReferenceTargetType>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="OriginalSimulationMetricComputationType">
        <xsd:annotation>
            <xsd:documentation>
                Specification of how is an "original" simulation metric, i.e. the one that is present at the level of individual
                processed objects computed.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container/>
                <a:since>4.7</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="expression" type="tns:ExpressionType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        An expression providing the value for the metric.

                        Input:
                        - processedObject: ProcessedObject

                        Output:
                        - any number: the output
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AggregatedSimulationMetricComputationType">
        <xsd:annotation>
            <xsd:documentation>
                Specification of how an aggregated metric is computed.

                An example of this metric is "the average number of attributes changed on an account on the LDAP-1 resource".
            </xsd:documentation>
            <xsd:appinfo>
                <a:container/>
                <a:since>4.7</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="aggregationFunction" type="tns:SimulationMetricAggregationFunctionType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        An aggregation function used to compute the metric.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="source" type="tns:AbstractSimulationMetricReferenceType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Source metric that is to be aggregated. Must be present on individual processed objects.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="selection" type="tns:SimulationResultProcessedObjectPredicateType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Which objects are selected (relevant for some of the aggregation functions).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dimension" type="tns:SimulationMetricAnalyticDimensionType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Dimensions under which we want to analyze this metric. (Not implemented yet.)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="SimulationMetricAggregationFunctionType">
        <xsd:annotation>
            <xsd:documentation>
                TODO
            </xsd:documentation>
            <xsd:appinfo>
                <jaxb:typesafeEnumClass/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="selectionSize">
                <xsd:annotation>
                    <xsd:documentation>
                        The value is determined as "selectionSize".
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="SELECTION_SIZE"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="selectionTotalValue">
                <xsd:annotation>
                    <xsd:documentation>
                        The value is determined as "selectionTotalValue".
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="SELECTION_TOTAL_VALUE"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="domainSize">
                <xsd:annotation>
                    <xsd:documentation>
                        The value is determined as "domainSize".
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="DOMAIN_SIZE"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="domainTotalValue">
                <xsd:annotation>
                    <xsd:documentation>
                        The value is determined as "domainTotalValue".
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="DOMAIN_TOTAL_VALUE"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="domainTotalValueToDomainSize">
                <xsd:annotation>
                    <xsd:documentation>
                        The value is determined as "domainTotalValue / domainSize".
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="DOMAIN_TOTAL_VALUE_TO_DOMAIN_SIZE"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="selectionTotalValueToDomainSize">
                <xsd:annotation>
                    <xsd:documentation>
                        The value is determined as "selectionTotalValue / domainSize".
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="SELECTION_TOTAL_VALUE_TO_DOMAIN_SIZE"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="selectionSizeToDomainSize">
                <xsd:annotation>
                    <xsd:documentation>
                        The value is determined as "selectionSize / domainSize".
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="SELECTION_SIZE_TO_DOMAIN_SIZE"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="selectionTotalValueToDomainTotalValue">
                <xsd:annotation>
                    <xsd:documentation>
                        The value is determined as "selectionTotalValue / domainTotalValue".
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="SELECTION_TOTAL_VALUE_TO_DOMAIN_TOTAL_VALUE"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="domainMinValue">
                <xsd:annotation>
                    <xsd:documentation>
                        The value is determined as minimal metric value in the domain.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="DOMAIN_MIN_VALUE"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="selectionMinValue">
                <xsd:annotation>
                    <xsd:documentation>
                        The value is determined as minimal metric value in the selection.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="SELECTION_MIN_VALUE"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="domainMaxValue">
                <xsd:annotation>
                    <xsd:documentation>
                        The value is determined as maximum metric value in the domain.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="DOMAIN_MAX_VALUE"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="SELECTION_MAX_VALUE">
                <xsd:annotation>
                    <xsd:documentation>
                        The value is determined as maximum metric value in the selection.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="SELECTION_MAX_VALUE"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="SimulationMetricAnalyticDimensionType">
        <xsd:annotation>
            <xsd:documentation>
                TODO
            </xsd:documentation>
            <xsd:appinfo>
                <jaxb:typesafeEnumClass/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="objectType">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="OBJECT_TYPE"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="resource">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="RESOURCE"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="shadowKind">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="SHADOW_KIND"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="shadowIntent">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="SHADOW_INTENT"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="SimulationResultProcessedObjectPredicateType">
        <xsd:annotation>
            <xsd:documentation>
                A predicate over SimulationResultProcessedObjectType and/or ProcessedObject instances.
                Used e.g. for selecting objects for aggregated metric domain and selected objects.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container/>
                <a:since>4.7</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="filter" type="q:SearchFilterType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        A filter over SimulationResultProcessedObjectType objects that denotes the matching ones.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="expression" type="tns:ExpressionType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        An expression evaluated on SimulationResultProcessedObjectType and/or ProcessedObject instances
                        that denotes the matching ones.

                        Input: processedObject (ProcessedObject), with processedObject.originalBean pointing to
                        SimulationResultProcessedObjectType.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SimulationDefinitionType">
        <xsd:annotation>
            <xsd:documentation>
                Definition of a specific simulation.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container/>
                <a:since>4.7</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="identifier" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Identifier of the definition. If used in the global definition list, it must be unique.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="super" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Identifier of the "super-definition", i.e. the definition the current one is based on.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="default" type="xsd:boolean" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Is this the default definition?
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="metrics" type="tns:SimulationMetricsDefinitionType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Definition of metrics to be used for this simulation.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="useOwnPartitionForProcessedObjects" type="xsd:boolean" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Should this simulation use its own partition for processed objects?
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:indexed>true</a:indexed>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <!--  TODO: Do we want storage strategies per type? or per metric?

                  Storage strategies may be beneficial for large deployments
                   - eg. do not store information about objects, that do not match any metric or are unmodified.
                   - do not store before / after state
             -->
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SimulationMetricsDefinitionType">
        <xsd:annotation>
            <xsd:documentation>
                Definition of a simulation metrics for the particular type of simulation.

                A prominent type of metrics are event tags. They are of "0-1" type (either present for a processed object,
                or not present). But there are other kinds of metrics conceivable, e.g.

                - number of attributes changed,
                - number of critical attributes changed (whatever "critical attribute" is),
                - number of focus items changed,
                - percentage of modified users (from all users processed?),
                - and so on.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container/>
                <a:since>4.7</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="eventTags" type="tns:SimulationEventTagsDefinitionType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Selecting which event tags to consider.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="metrics" type="tns:SimulationOtherMetricsDefinitionType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Selecting which non-tag-based metrics to consider.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SimulationEventTagsDefinitionType">
        <xsd:annotation>
            <xsd:documentation>
                <p>Specifies which event tags to consider for given simulation.</p>
                <pre>
                    Matches "include" | Matches "exclude" | Used in simulation
                    ------------------+-------------------+-------------------
                            no        |         no        |        yes
                           yes        |         no        |        yes
                            no        |        yes        |         no
                           yes        |        yes        |        yes
                </pre>
            </xsd:documentation>
            <xsd:appinfo>
                <a:container/>
                <a:since>4.7</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="include" type="q:SearchFilterType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Which event tags to include?
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="exclude" type="q:SearchFilterType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Which event tags to exclude?
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SimulationOtherMetricsDefinitionType">
        <xsd:annotation>
            <xsd:documentation>
                <p>Specifies which (non-tag) metrics to consider for given simulation.</p>
                <pre>
                    Matches "include" | Matches "exclude" | Used in simulation
                    ------------------+-------------------+-------------------
                            no        |         no        |        yes
                           yes        |         no        |        yes
                            no        |        yes        |         no
                           yes        |        yes        |        yes
                </pre>
            </xsd:documentation>
            <xsd:appinfo>
                <a:container/>
                <a:since>4.7</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="include" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Which metrics to include?
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="exclude" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Which metrics to exclude?
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AggregatedSimulationMetricValueType">
        <xsd:annotation>
            <xsd:documentation>
                A value of an aggregated simulation metric, e.g. during a particular simulation run.

                Metric values from individual SimulationResultProcessedObjectType instances are aggregated, summarizing
                them according to specific dimensions (e.g. object type or shadow discriminator).
            </xsd:documentation>
            <xsd:appinfo>
                <a:container/>
                <a:since>4.7</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ref" type="tns:AbstractSimulationMetricReferenceType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Metric identifier (reference).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="classifier" type="tns:AggregatedSimulationMetricClassifierType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        TODO
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="value" type="xsd:decimal" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        The aggregated metric value according to specified aggregation function.

                        For example, for VALUE_PER_DOMAIN_ITEM function it is the selectionTotalValue / domainSize.
                        See the description of aggregation functions for more information.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="selectionSize" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        How many objects were selected by the metric selector?
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="selectionTotalValue" type="xsd:decimal" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Sum of the metric values for the selected objects.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="domainSize" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        How many objects are there in the domain for this metric?
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="domainTotalValue" type="xsd:decimal" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Sum of the metric values for all objects in the domain.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="selectionMinValue" type="xsd:decimal" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Minimum value in the selection.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="domainMinValue" type="xsd:decimal" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Minimum value in the domain.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="selectionMaxValue" type="xsd:decimal" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Maximum value in the selection.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="domainMaxValue" type="xsd:decimal" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Maximum value in the domain.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AggregatedSimulationMetricClassifierType">
        <xsd:annotation>
            <xsd:documentation>
                TODO
            </xsd:documentation>
            <xsd:appinfo>
                <a:container/>
                <a:since>4.7</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="typeName" type="xsd:QName" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        TODO (fully qualified)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="resourceOid" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        TODO
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kind" type="tns:ShadowKindType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        TODO
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="intent" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        TODO
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <!--<xsd:element name="nullDimensions" type="tns:SimulationMetricAnalyticDimensionType" minOccurs="0"-->
            <!--        maxOccurs="unbounded">-->
            <!--    <xsd:annotation>-->
            <!--        <xsd:documentation>-->
            <!--            Dimensions that are present but null. (To distinguish them from dimensions not present.)-->
            <!--        </xsd:documentation>-->
            <!--    </xsd:annotation>-->
            <!--</xsd:element>-->
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ShadowDiscriminatorDimensionType">
        <xsd:annotation>
            <xsd:documentation>
                TODO
            </xsd:documentation>
            <xsd:appinfo>
                <a:container/>
                <a:since>4.7</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="resourceRef" type="c:ObjectReferenceType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        TODO
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:objectReferenceTargetType>tns:ResourceType</a:objectReferenceTargetType>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kind" type="tns:ShadowKindType" minOccurs="0"/>
            <xsd:element name="intent" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        TODO
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ProcessedObjectSimulationMetricValueType">
        <xsd:annotation>
            <xsd:documentation>
                A value of a simulation metric observed on a particular processed object.
                (Applies only to non-event-tag-based metrics; the tags are treated in "present/not-present" way.)
            </xsd:documentation>
            <xsd:appinfo>
                <a:container/>
                <a:since>4.7</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="identifier" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Identifier of a non-event-tag-based metric.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="value" type="xsd:decimal" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        The value itself.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SimulationResultProcessedObjectType">
        <xsd:annotation>
            <xsd:documentation>
                An object that was processed during a particular simulation run.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container/>
                <a:since>4.7</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="oid" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        OID of the object processed. Usually known, even for objects that are to be created.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="type" type="xsd:QName" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Type of the object processed.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="resourceObjectCoordinates" type="tns:ShadowDiscriminatorType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Information about the shadow (if applicable). TODO reconsider if all information from the type
                        should be used (e.g. tombstone and discriminator order - are they relevant?).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="t:PolyStringType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Name of the object processed.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="state" type="tns:ObjectProcessingStateType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Was the object added, modified, deleted, or unchanged?
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="eventTagRef" type="tns:ObjectReferenceType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Event tag or tags that apply to this operation.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:objectReferenceTargetType>c:TagType</a:objectReferenceTargetType>
                        <a:indexed>true</a:indexed>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="metricValue" type="tns:ProcessedObjectSimulationMetricValueType" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Values of non-event-tag-based metrics. (Not searchable.)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="metricIdentifier" type="xsd:string" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        TEMPORARY. Just to give @Tony time to adapt the repository implementation.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <!-- Extra stored state; may be reduced -->
            <xsd:element name="before" type="tns:ObjectType">
                <xsd:annotation>
                    <xsd:documentation>
                        The state of the object before the operation.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:embeddedObject>true</a:embeddedObject>
                        <a:elaborate>true</a:elaborate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="after" type="tns:ObjectType">
                <xsd:annotation>
                    <xsd:documentation>
                        The assumed state of the object after the operation.
                        It should hold that "before + delta = after".
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:embeddedObject>true</a:embeddedObject>
                        <a:elaborate>true</a:elaborate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="delta" type="t:ObjectDeltaType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        The assumed modification of the object.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="simulationResultProcessedObject" type="tns:SimulationResultProcessedObjectType"/>

    <xsd:simpleType name="ObjectProcessingStateType">
        <xsd:annotation>
            <xsd:documentation>
                Was the object added, modified, deleted, or unchanged (unmodified)?
            </xsd:documentation>
            <xsd:appinfo>
                <jaxb:typesafeEnumClass/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="unmodified">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="UNMODIFIED"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="added">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="ADDED"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="modified">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="MODIFIED"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="deleted">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="DELETED"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="ConfigurationSpecificationType">
        <xsd:annotation>
            <xsd:documentation>
                What parts of a system configuration (in the most broad sense of the word), or what changes thereof should be
                (or are) used for the particular execution? Most of the time, we are concerned with simulated executions, but
                in the future it is possible to tweak configuration in a way that will be safe to run in production.
                (For example, just ignoring some parts of it, e.g. some resources.)

                For the time being, only rudimentary options are here.

                TODO better name
            </xsd:documentation>
            <xsd:appinfo>
                <a:container/>
                <a:since>4.7</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="productionConfiguration" type="xsd:boolean" minOccurs="0" default="true">
                <xsd:annotation>
                    <xsd:documentation>
                        What configuration is used to run the simulation? Production or "development" one?

                        - Production usually means `active` and `deprecated` lifecycle states.
                        - Development will probably `active` and `proposed` states.
                        (Currently: `active`, `proposed` and `deprecated`.)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
