infra/schema/src/main/resources/xml/ns/public/common/common-tmp-outlier.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2010-2023 Evolveum and contributors
  ~
  ~ This work is dual-licensed under the Apache License 2.0
  ~ and European Union Public License. See LICENSE file for details.
  -->

<!--suppress XmlUnusedNamespaceDeclaration -->
<xsd:schema targetNamespace="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
        xmlns:tns="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:a="http://prism.evolveum.com/xml/ns/public/annotation-3"
        xmlns:c="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
        xmlns:t="http://prism.evolveum.com/xml/ns/public/types-3"
        xmlns:q="http://prism.evolveum.com/xml/ns/public/query-3"
        xmlns:jaxb="https://jakarta.ee/xml/ns/jaxb"
        elementFormDefault="qualified"
        xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
        jaxb:extensionBindingPrefixes="xjc"
        jaxb:version="3.0">

    <xsd:annotation>
        <xsd:documentation>
            Parts of development schema that are not yet ready for inclusion in the main schema.
        </xsd:documentation>
    </xsd:annotation>

    <!-- Don't provide schemaLocation here, as it causes xjc to really contact the URIs (!) -->
    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/annotation-3"/>
    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/types-3"/>
    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/query-3"/>

    <xsd:include schemaLocation="http://midpoint.evolveum.com/xml/ns/public/common/common-core-3"/>

    <!--NOTE this is just experimental schema, many things is not needed.-->
    <xsd:complexType name="RoleAnalysisOutlierType">
        <xsd:annotation>
            <xsd:documentation>
                Contains information about outliers and their analysis.
            </xsd:documentation>
            <xsd:appinfo>
                <a:object/>
                <a:since>4.9</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:AssignmentHolderType">
                <xsd:sequence>

                    <!--TODO design decision, where-metadata? what is the best way to store this information?-->
                    <!--TODO also don't forget about "Valid from" and "Valid to" attributes. Think about other conditions.-->

                    <!--TODO don't forget important for search -->
                    <xsd:element name="targetObjectRef" type="c:ObjectReferenceType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                The object that is the target of the outlier analysis.
                            </xsd:documentation>
                            <xsd:appinfo>
                                <a:displayName>RoleAnalysisOutlierType.targetObject</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <!--TODO we need search across partition clusters, session & target object ref -->
                    <xsd:element name="outlierPartitions" type="tns:RoleAnalysisOutlierPartitionType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>
                                <p>
                                    Partitions contains information about outliers analysis result for specific session.
                                </p>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>

                    <!--TODO think about this, store it in separate container?-->
                    <xsd:element name="riskLevel" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                <p>
                                    Indication of the level of risk associated with the cluster.
                                    This may be a numeric value, textual label are any other suitable machine-processable indication.

                                    Currently not used (reserved for future use).
                                </p>
                            </xsd:documentation>
                            <xsd:appinfo>
                                <a:experimental>true</a:experimental>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="overallConfidence" type="xsd:double" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                Confidence level associated with the identified outlier.
                            </xsd:documentation>
                            <xsd:appinfo>
                                <a:displayName>RoleAnalysisOutlierType.clusterConfidence</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="anomalyObjectsConfidence" type="xsd:double" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                Confidence level associated with the detected anomaly.
                            </xsd:documentation>
                            <xsd:appinfo>
                                <a:displayName>RoleAnalysisOutlierType.clusterConfidence</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="duplicatedRoleAssignment" type="c:ObjectReferenceType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>
                                <p>
                                    Contains information about the duplicated role assignment.
                                </p>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>

                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>

    </xsd:complexType>
    <xsd:element name="roleAnalysisOutlier" type="tns:RoleAnalysisOutlierType" substitutionGroup="tns:object"/>


    <xsd:complexType name="RoleAnalysisOutlierPartitionType">
        <xsd:annotation>
            <xsd:documentation>
                Partitions contains information about outliers analysis result for specific session.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>

            <!-- TODO think about creationTimestamp, do we need it? if yes, where we need to access it? -->
            <xsd:element name="createTimestamp" type="xsd:dateTime" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        When this object was created.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisOutlierType.createTimestamp</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <!--TODO search-->
            <xsd:element name="targetSessionRef" type="c:ObjectReferenceType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Session to which the outlier belongs.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <!--TODO search-->
            <!-- TODO important!!! whats if cluster is outlier_cluster, in this case is outlier OUTER OUTLIER, so we need store*
 TODO *refs of all similar object or store all statistics data, NEED TO BE RESOLVED -->
            <xsd:element name="targetClusterRef" type="c:ObjectReferenceType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        The cluster that owns outlier.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisOutlierType.targetClusterRef</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>


            <!-- TODO clean, design whats, where and when we need store statistics -->
            <xsd:element name="partitionAnalysis" type="c:RoleAnalysisPartitionAnalysisType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Statistical information about the outlier.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisOutlierType.statistics</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <!-- TODO clean, design whats, where and when we need store statistics -->
            <xsd:element name="detectedAnomalyResult" type="c:DetectedAnomalyResult" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Statistical information about the outlier.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisOutlierType.statistics</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>


        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>
    <xsd:element name="roleAnalysisOutlierPartitionsType" type="tns:RoleAnalysisOutlierPartitionType"/>

    <!--TODO better name?-->
    <xsd:complexType name="RoleAnalysisPartitionAnalysisType">
        <xsd:annotation>
            <xsd:documentation>
                Contains information about the outlier statistic result.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>

            <xsd:element name="overallConfidence" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Confidence level associated with the identified outlier.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisOutlierType.clusterConfidence</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="similarObjectsConfidence" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Confidence level associated with the similar objects.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisOutlierType.clusterConfidence</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="anomalyObjectsConfidence" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Confidence level associated with the detected anomaly.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisOutlierType.clusterConfidence</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="duplicatedRoleAssignment" type="c:ObjectReferenceType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Contains information about the duplicated role assignment.
                        </p>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="outlierAssignmentFrequencyConfidence" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Confidence level associated with the identified outlier.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisOutlierType.outlierAssignmentFrequencyConfidence</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="attributeAnalysis" type="c:AttributeAnalysis" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Contains information about the attribute analysis result.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>AttributeAnalysis.attributeAnalysis</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>


            <xsd:element name="patternAnalysis" type="c:RoleAnalysisOutlierPatternAnalysisResult" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Pattern result.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="similarObjectAnalysis" type="c:RoleAnalysisOutlierSimilarObjectsAnalysisResult" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Pattern result.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <!--TODO think about this, don't need to store this information? Maybe we can store it but in limited way (operation is time consuming).-->
            <xsd:element name="outlierNoiseCategory" type="tns:RoleAnalysisOutlierNoiseCategoryType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Describe category of noise.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:since>4.9</a:since>
                        <a:displayName>RoleAnalysisOutlierNoiseCategoryType.outlierNoiseCategory</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>
    <xsd:element name="roleAnalysisPartitionAnalysisType" type="tns:RoleAnalysisPartitionAnalysisType"/>


    <!--TODO better name?-->
    <xsd:complexType name="DetectedAnomalyResult">
        <xsd:annotation>
            <xsd:documentation>
                Contains information about the outlier assignment anomaly result.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>

            <!--TODO search-->
            <xsd:element name="targetObjectRef" type="c:ObjectReferenceType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Object that is identified as an outlier during the analysis.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="statistics" type="c:DetectedAnomalyStatistics" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Pattern result.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>
    <xsd:element name="detectedAnomalyResult" type="tns:DetectedAnomalyResult"/>

    <!--TODO better name?-->
    <xsd:complexType name="DetectedAnomalyStatistics">
        <xsd:annotation>
            <xsd:documentation>
                Contains information about the outlier assignment anomaly result.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>

            <xsd:element name="confidenceDeviation" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Confidence level associated with the identified outlier.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="confidence" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Confidence level associated with the identified outlier.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="itemFactorConfidence" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Confidence level associated with the identified outlier.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="memberCoverageConfidence" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Confidence level associated with the identified outlier.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="outlierCoverageConfidence" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Confidence level associated with the identified outlier.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="frequency" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Frequency of the outlier.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <!--TODO think about this -->
            <xsd:element name="anomalyCategory" type="tns:OutlierCategory" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Category classification of the anomaly.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="patternInfo" type="c:RoleAnalysisPatternInfo" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Pattern result.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>
    <xsd:element name="detectedAnomalyStatistics" type="tns:DetectedAnomalyStatistics"/>

    <xsd:complexType name="RoleAnalysisOutlierPatternAnalysisResult">
        <xsd:annotation>
            <xsd:documentation>
                Contains detailed information about pattern analysis.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>

            <xsd:element name="confidence" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Confidence level associated with the identified outlier.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="totalRelations" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Confidence level associated with the identified outlier.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="clusterRelations" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Confidence level associated with the identified outlier.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="topPatternRelation" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Confidence level associated with the identified outlier.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="detectedPatternCount" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Confidence level associated with the identified outlier.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>
    <xsd:element name="roleAnalysisOutlierPatternAnalysisResult" type="tns:RoleAnalysisOutlierPatternAnalysisResult"/>

    <xsd:complexType name="RoleAnalysisOutlierSimilarObjectsAnalysisResult">
        <xsd:annotation>
            <xsd:documentation>
                Contains detailed information about similar objects analysis.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>

            <!-- TODO important!!! whats if cluster is outlier_cluster, in this case is outlier OUTER OUTLIER, so we need store*
 TODO *refs of all similar object or store all statistics data, NEED TO BE RESOLVED -->
            <xsd:element name="similarObjects" type="c:ObjectReferenceType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Contains information about the similar objects.
                        </p>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="similarObjectsCount" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Number of similar objects.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisOutlierType.similarObjects</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="similarObjectsDensity" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Similar objects density.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisOutlierType.similarObjectsDensity</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="similarObjectsThreshold" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Similar objects density.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisOutlierType.similarObjectsDensity</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <!--TODO think about this, don't need to store this information? Maybe we can store it but in limited way (operation is time consuming).-->
            <xsd:element name="clusterStatistics" type="c:AnalysisClusterStatisticType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            The container consists of statistical data about the cluster.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>AnalysisClusterStatisticType.clusterStatistic</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>
    <xsd:element name="roleAnalysisOutlierSimilarObjectsAnalysisResult" type="tns:RoleAnalysisOutlierSimilarObjectsAnalysisResult"/>

</xsd:schema>
