infra/schema/src/main/resources/xml/ns/public/common/common-smart-integration-3.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2010-2025 Evolveum and contributors
  ~
  ~ This work is dual-licensed under the Apache License 2.0
  ~ and European Union Public License. See LICENSE file for details.
  -->

<xsd:schema targetNamespace="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
            xmlns:tns="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:a="http://prism.evolveum.com/xml/ns/public/annotation-3"
            xmlns:c="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
            xmlns:t="http://prism.evolveum.com/xml/ns/public/types-3"
            xmlns:jaxb="https://jakarta.ee/xml/ns/jaxb"
            elementFormDefault="qualified"
            xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
            jaxb:extensionBindingPrefixes="xjc"
            jaxb:version="3.0">

    <xsd:annotation>
        <xsd:documentation>
            Parts related to the smart integration (midPilot).
        </xsd:documentation>
    </xsd:annotation>

    <!-- Don't provide schemaLocation here, as it causes xjc to really contact the URIs (!) -->
    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/annotation-3"/>
    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/types-3"/>

    <xsd:include schemaLocation="http://midpoint.evolveum.com/xml/ns/public/common/common-core-3" />

    <xsd:complexType name="SmartIntegrationConfigurationType">
        <xsd:annotation>
            <xsd:documentation>
                Configuration related to smart integration feature.
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.11</a:since>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="serviceUrl" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        A URL of the smart integration [micro]service.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="smartIntegrationConfiguration" type="tns:SmartIntegrationConfigurationType"/>

    <!-- ================================================================================================================== -->
    <!--                              Complex types for the API of SmartIntegrationService                                  -->
    <!-- ================================================================================================================== -->

    <!-- suggestObjectTypes method -->

    <xsd:complexType name="ObjectTypesSuggestionType">
        <xsd:annotation>
            <xsd:documentation>
                Suggestions of object types and their delineation: the output of "suggestObjectTypes" smart integration
                service API method.
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.11</a:since>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="objectType" type="tns:ObjectTypeSuggestionType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Collection of suggestions.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="objectTypesSuggestion" type="tns:ObjectTypesSuggestionType"/>

    <xsd:complexType name="ObjectTypeSuggestionType">
        <xsd:annotation>
            <xsd:documentation>
                A suggestion for a single object type and its delineation.
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.11</a:since>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="identification" type="tns:ResourceObjectTypeIdentificationType">
                <xsd:annotation>
                    <xsd:documentation>
                        Identification of a suggested type (kind and intent).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="delineation" type="tns:ResourceObjectTypeDelineationType">
                <xsd:annotation>
                    <xsd:documentation>
                        Suggested delineation.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="objectTypeSuggestion" type="tns:ObjectTypeSuggestionType"/>

    <xsd:complexType name="ShadowObjectClassStatisticsType">
        <xsd:annotation>
            <xsd:documentation>
                Statistical data needed for suggesting delineations.

                TODO where to put this structure?
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.11</a:since>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="attribute" type="tns:ShadowAttributeStatisticsType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Statistical data about a particular attribute.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="size" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>
                        How many shadows were considered.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="complete" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>
                        Is the coverage complete, i.e., did we see all shadows?
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="timestamp" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>
                        When was this information collected?
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="shadowObjectClassStatistics" type="tns:ShadowObjectClassStatisticsType"/>

    <xsd:complexType name="ShadowAttributeStatisticsType">
        <xsd:annotation>
            <xsd:documentation>
                Statistical data for particular attribute needed for suggesting delineations.
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.11</a:since>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ref" type="t:ItemPathType">
                <xsd:annotation>
                    <xsd:documentation>
                        Attribute name (or path). Exact format is to be decided.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="valueCount" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>
                        How many non-null values are there for this attribute?
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="uniqueValueCount" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>
                        How many unique non-null values are there for this attribute?
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <!-- missingValueCount = size - valueCount, so we don't need to store it here -->
            <!-- TODO: -->
            <!--  cross table value counts (on low cardinality columns) -->
            <!--  string manipulation queries (sql "like", for prefixes) -->
            <!--  we will find out more/less queries after interviewing engineers -->
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="shadowAttributeStatistics" type="tns:ShadowAttributeStatisticsType"/>

    <!-- suggestMappings method -->

    <xsd:complexType name="MappingsSuggestionType">
        <xsd:annotation>
            <xsd:documentation>
                Suggestions of inbound/outbound mappings.
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.11</a:since>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="attributeMappings" type="tns:AttributeMappingsSuggestionType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Suggestions of attribute mappings. There may be multiple suggestions for a given attribute.
                        If they are there, we provide multiple values of this item (pointing to the same attribute),
                        one for each suggestion.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="extensionItem" type="tns:ExtensionItemSuggestionType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Suggestions of new extension items.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="mappingsSuggestion" type="tns:MappingsSuggestionType"/>

    <xsd:complexType name="MappingsSuggestionFiltersType">
        <xsd:annotation>
            <xsd:documentation>
                Filters for the "suggestMappings" method.
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.11</a:since>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="focusItem" type="t:ItemPathType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Focus item(s) to include.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="shadowItem" type="t:ItemPathType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Shadow item(s) to include.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="includeInbounds" type="xsd:boolean" minOccurs="0" default="true">
                <xsd:annotation>
                    <xsd:documentation>
                        Should inbound mappings be included?
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="includeOutbounds" type="xsd:boolean" minOccurs="0" default="true">
                <xsd:annotation>
                    <xsd:documentation>
                        Should outbound mappings be included?
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="mappingsSuggestionFilters" type="tns:MappingsSuggestionFiltersType"/>

    <xsd:complexType name="MappingsSuggestionInteractionMetadataType">
        <xsd:annotation>
            <xsd:documentation>
                Interaction metadata related to suggestions of inbound/outbound mappings.
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.11</a:since>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="rejectedAttributeMappingsSuggestion" type="tns:AttributeMappingsSuggestionType"
                    minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Rejected suggestions of attribute mappings. The content should be equal to the content of suggestions
                        that were provided earlier.
                    </xsd:documentation>
                    <!-- Reason for requiring full information on rejected suggestions: we assume that the smart integration
                         service is stateless, so it does not keep earlier suggestion (so they cannot be referenced). -->
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="rejectedExtensionItemSuggestion" type="tns:ExtensionItemSuggestionType"
                    minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Rejected suggestions of new extension items. The content should be equal to the content of suggestions
                        that were provided earlier.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="mappingsSuggestionInteractionMetadata" type="tns:MappingsSuggestionInteractionMetadataType"/>

    <xsd:complexType name="AttributeMappingsSuggestionType">
        <xsd:annotation>
            <xsd:documentation>
                Suggestions of inbound/outbound mappings for a given attribute.
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.11</a:since>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="definition" type="tns:ResourceAttributeDefinitionType">
                <xsd:annotation>
                    <xsd:documentation>
                        Suggested attribute definition. Must contain at least "ref" (pointing to the attribute name).
                        May contain "inbound" and "outbound" items holding the mappings.
                        Other items should be left empty.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <!-- We may later factor the following information (order + expectedQuality) into something like "metadata" -->
            <xsd:element name="order" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        If there are multiple suggestions per attribute, this is the relative order of given suggestion.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="expectedQuality" type="xsd:float" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Expected quality of provided information.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="attributeMappingsSuggestion" type="tns:AttributeMappingsSuggestionType"/>

    <xsd:complexType name="ExtensionItemSuggestionType">
        <xsd:annotation>
            <xsd:documentation>
                Suggestion of a new extension item.
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.11</a:since>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:QName">
                <xsd:annotation>
                    <xsd:documentation>
                        Suggested extension item name. Must be consistent with "definition".
                        The reason why it's here is to make life easier for clients - they don't need to parse the whole
                        definition just to learn the item name.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="definition" type="t:SchemaDefinitionType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Suggested extension item definition. Optional.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="order" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        If there are multiple suggestions per extension item, this is the relative order of given suggestion.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="expectedQuality" type="xsd:float" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Expected quality of provided information.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="extensionItemSuggestion" type="tns:ExtensionItemSuggestionType"/>

    <!-- suggestAssociations method -->

    <xsd:complexType name="AssociationsSuggestionType">
        <xsd:annotation>
            <xsd:documentation>
                Suggestions of associations.
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.11</a:since>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="association" type="tns:AssociationSuggestionType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Suggestions of association type definitions. There should not be any duplicates/alternatives.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="associationsSuggestion" type="tns:AssociationsSuggestionType"/>

    <xsd:complexType name="AssociationSuggestionType">
        <xsd:annotation>
            <xsd:documentation>
                Suggestion of an association type definitions.
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.11</a:since>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="definition" type="tns:ShadowAssociationTypeDefinitionType">
                <xsd:annotation>
                    <xsd:documentation>
                        Suggested association type definition.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="associationSuggestion" type="tns:AssociationSuggestionType"/>

    <!-- interaction metadata and suggestion quality are to be defined later -->

    <!-- ================================================================================================================== -->
    <!--                                            API of Python Microservice                                              -->
    <!-- ================================================================================================================== -->
    <!-- TODO shouldn't this be in a separate namespace? -->

    <xsd:complexType name="SuggestFocusTypeRequestType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:since>4.11</a:since>
                <!-- intentionally not a container -->
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="kind" type="xsd:string" />
            <xsd:element name="intent" type="xsd:string" />
            <xsd:element name="objectClassName" type="xsd:string" />
            <xsd:element name="baseContextFilter" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="attributeDefinition" type="tns:SuggestFocusTypeRequestAttributeDefinitionType" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SuggestFocusTypeRequestAttributeDefinitionType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:since>4.11</a:since>
                <!-- intentionally not a container -->
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SuggestFocusTypeResponseType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:since>4.11</a:since>
                <!-- intentionally not a container -->
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="focusTypeName" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
