infra/schema/src/main/resources/xml/ns/public/common/common-connector-dev-3.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2010-2025 Evolveum and contributors
  ~
  ~ This work is dual-licensed under the Apache License 2.0
  ~ and European Union Public License. See LICENSE file for details.
  -->

<xsd:schema targetNamespace="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
            xmlns:tns="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:a="http://prism.evolveum.com/xml/ns/public/annotation-3"
            xmlns:c="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
            xmlns:t="http://prism.evolveum.com/xml/ns/public/types-3"
            xmlns:jaxb="https://jakarta.ee/xml/ns/jaxb"
            elementFormDefault="qualified"
            xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
            jaxb:extensionBindingPrefixes="xjc"
            jaxb:version="3.0">

    <xsd:annotation>
        <xsd:documentation>
            Parts related to the smart integration (midPilot).
        </xsd:documentation>
    </xsd:annotation>

    <!-- Don't provide schemaLocation here, as it causes xjc to really contact the URIs (!) -->
    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/annotation-3"/>
    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/types-3"/>

    <xsd:include schemaLocation="http://midpoint.evolveum.com/xml/ns/public/common/common-core-3" />

    <xsd:complexType name="ConnectorDevelopmentType">
        <xsd:annotation>
            <xsd:appinfo>

            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:ObjectType">
                <xsd:sequence>
                    <xsd:element name="application" type="c:ConnDevApplicationInfoType" />
                    <xsd:element name="documentationSources" type="c:DocumentationSourceType" />
                    <xsd:element name="processedDocumentation" type="c:ProcessedDocumentationType"/>
                    <xsd:element name="scripts" type="c:ConnectorDevelopmentScriptType"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="connectorDevelopment" type="tns:ConnectorDevelopmentType" />

    <xsd:complexType name="ConnDevApplicationInfoType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container />
            </xsd:appinfo>
        </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="applicationName" type="t:PolyStringType" minOccurs="1" />
                    <xsd:element name="description" type="t:PolyStringType" />
                    <xsd:element name="version" type="xsd:string" />
                    <xsd:element name="integrationType" type="tns:ConnDevIntegrationType" />
                    <xsd:element name="deploymentType" type="tns:ConnDevDeploymentType" />
                </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DocumentationSourceType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container />
            </xsd:appinfo>
        </xsd:annotation>
            <xsd:sequence>
                <xsd:element name="applicationName" type="t:PolyStringType" />
                <xsd:element name="description" type="t:PolyStringType" />
                <xsd:element name="version" type="xsd:string" />
            </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ProcessedDocumentationType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container />
            </xsd:appinfo>
        </xsd:annotation>
            <xsd:sequence>
                <xsd:element name="name" type="xsd:string" />
                <xsd:element name="contentType" type="xsd:string" />
                <xsd:element name="content" type="xsd:string" />
            </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ConnectorDevelopmentScriptType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container />
            </xsd:appinfo>
        </xsd:annotation>
            <xsd:sequence>
                <xsd:element name="name" type="xsd:string" />
                <xsd:element name="contentType" type="xsd:string" />
                <xsd:element name="content" type="xsd:string" />
            </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ConnDevBasicObjectClassInfoType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container />
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" />
            <xsd:element name="relevant" type="xsd:boolean" />
            <xsd:element name="superclass" type="xsd:string" />
            <xsd:element name="abstract" type="xsd:boolean" />
            <xsd:element name="embedded" type="xsd:boolean" />
            <xsd:element name="description" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ConnDevObjectClassInfoType">

    </xsd:complexType>

    <xsd:complexType name="ConnDevAttributeInfoType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container />
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ConnDevAuthInfoType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container />
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" />
            <xsd:element name="type" type="xsd:string" />
            <xsd:element name="quirks" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ConnDevHttpEndpointType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container />
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" />
            <xsd:element name="uri" type="xsd:string" />
            <xsd:element name="operation" type="xsd:string" />
            <xsd:element name="requestContentType" type="xsd:string" />
            <xsd:element name="responseContentType" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ConnDevDocumentationSourceType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container />
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" />
            <xsd:element name="description" type="xsd:string" />
            <xsd:element name="contentType" type="xsd:string" />
            <xsd:element name="uri" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ConnDevArtifactType">
        <xsd:sequence>
            <xsd:element name="operation" type="xsd:string" />
            <xsd:element name="intent" type="tns:ConnDevOperationType" />
            <xsd:element name="objectClass" type="xsd:string" />
            <xsd:element name="filename" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="ConnDevOperationType">
        <xsd:annotation>
            <xsd:documentation>
                An enumeration that defines supported ConnId operations for connector development. These operations are conceptual
                in implementing connector and may not represent one-to-one mapping to connector SPI operations.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="schema">
                <xsd:annotation>
                    <xsd:documentation>
                        Schema operation for particular object class
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="SCHEMA"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="testConnection">
                <xsd:annotation>
                    <xsd:documentation>
                        Tests connection
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="TEST_CONNECTION"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="search">
                <xsd:annotation>
                    <xsd:documentation>
                        Search operation for particular object class
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="SEARCH"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="get">
                <xsd:annotation>
                    <xsd:documentation>
                        Get by uid operation for particular object class (usually it is search by oid)
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="GET"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ConnDevScriptIntentType">
        <xsd:annotation>
            <xsd:documentation>
                An enumeration that defines staticly supported operation intents. Intents are used to distinguish scripts
                into manageable smaller scripts. Some intents are global (no operation and object class) and some intents
                are object-class and operation specific.
            </xsd:documentation>
        </xsd:annotation>

        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="all">
                <xsd:annotation>
                    <xsd:documentation>
                        Operation applies to / returns all instances of specified object class.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="ALL"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="filter">
                <xsd:annotation>
                    <xsd:documentation>
                        Search using filter
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="FILTER"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="native">
                <xsd:annotation>
                    <xsd:documentation>
                        Native definition of schema - does not contain remapping to predefined ConnId attributes.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="NATIVE"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="connid">
                <xsd:annotation>
                    <xsd:documentation>
                        ConnId specific definition of schema - contains mapping of "native" attributes to predefined ConnId attributes.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="CONNID"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="auth">
                <xsd:annotation>
                    <xsd:documentation>
                        Authentication customization code.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="AUTH"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ConnDevIntegrationType">
        <xsd:annotation>
            <xsd:documentation>
                Supported integration types.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="scim">
                <xsd:annotation>
                    <xsd:documentation>
                        Integration using SCIM 2.0 Protocol
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="ALL"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="rest">
                <xsd:annotation>
                    <xsd:documentation>
                        Integration using REST Protocol
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="FILTER"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ConnDevDeploymentType">
        <xsd:annotation>
            <xsd:documentation>
                Supported integration types.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="cloud">
                <xsd:annotation>
                    <xsd:documentation>
                        Application is available in the public cloud
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="CLOUD"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="on-premise">
                <xsd:annotation>
                    <xsd:documentation>
                        Application is available on premise
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="ON_PREMISE"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
