infra/schema/src/main/resources/xml/ns/public/common/common-mining-3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2010-2023 Evolveum and contributors
  ~
  ~ This work is dual-licensed under the Apache License 2.0
  ~ and European Union Public License. See LICENSE file for details.
  -->

<!--suppress XmlUnusedNamespaceDeclaration -->
<xsd:schema targetNamespace="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
        xmlns:tns="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:a="http://prism.evolveum.com/xml/ns/public/annotation-3"
        xmlns:c="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
        xmlns:t="http://prism.evolveum.com/xml/ns/public/types-3"
        xmlns:q="http://prism.evolveum.com/xml/ns/public/query-3"
        xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
        elementFormDefault="qualified"
        xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
        jaxb:extensionBindingPrefixes="xjc"
        jaxb:version="2.0">

    <xsd:annotation>
        <xsd:documentation>
            Parts of the role of analysts.
        </xsd:documentation>
    </xsd:annotation>

    <!-- Don't provide schemaLocation here, as it causes xjc to really contact the URIs (!) -->
    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/annotation-3"/>
    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/types-3"/>
    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/query-3"/>

    <xsd:include schemaLocation="http://midpoint.evolveum.com/xml/ns/public/common/common-core-3"/>

    <xsd:complexType name="RoleAnalysisClusterType">
        <xsd:annotation>
            <xsd:documentation>
                A set of grouped object based on density and similarity. An object defines a group of objects that are similar
                or fall into one category based on the specified conditions.
            </xsd:documentation>
            <xsd:appinfo>
                <a:object/>
                <a:since>4.8</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:AssignmentHolderType">
                <xsd:sequence>

                    <xsd:element name="member" type="c:ObjectReferenceType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>
                                The main object that was analyzed. In the case of ROLE MODE, the list of role
                                object (members = roles) references that make up the given group is included in the object.
                                In the case of USER MODE, the list of users object (members = users) references that make up
                                the given group is included in the object.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="roleAnalysisSessionRef" type="c:ObjectReferenceType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                Identifies the parent object under which the RoleAnalysisCluster is included.
                                The UUID is commonly used for this purpose.
                            </xsd:documentation>
                            <xsd:appinfo>
                                <a:displayName>RoleAnalysisClusterType.roleAnalysisSessionRef</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="clusterStatistic" type="c:RoleAnalysisClusterStatisticType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                <p>
                                    The container consists of statistical data about the RoleAnalysisCluster.
                                </p>
                            </xsd:documentation>
                            <xsd:appinfo>
                                <a:displayName>RoleAnalysisClusterStatisticType.clusterStatistic</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="detectionPattern" type="c:RoleAnalysisDetectionPatternType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>
                                It consists of a sheet of reference objects and their specifications in which matches are found
                                based on the set parameters. These objects are subsequently processed as proposals for
                                implementing changes in the system (Business role).
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="detectionOption" type="c:RoleAnalysisDetectionOptionType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                <p>
                                    Options for detecting Business Roles

                                    These parameters serve as key specifications for performing searches
                                    and analyzes aimed at discovering different business roles.
                                </p>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>

                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>

    </xsd:complexType>

    <xsd:element name="roleAnalysisCluster" type="tns:RoleAnalysisClusterType" substitutionGroup="tns:object"/>

    <xsd:complexType name="RoleAnalysisClusterStatisticType">
        <xsd:annotation>
            <xsd:documentation>
                The container consists of statistical data about the RoleAnalysisCluster.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="memberCount" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            The absolute value of the members in the given group.
                            In the case of USER MODE, it is the count of users. (members = users)
                            In the case of ROLE MODE, it is the count of roles. (members = roles)
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisClusterStatisticType.memberCount</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="propertiesCount" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            The absolute value of the properties (objects) according to which the "members" were included
                            in the given group.
                            In the case of USER MODE, it is the count of roles. (roles = properties, members = users)
                            In the case of ROLE MODE, it is the count of users. (users = properties, members = roles)
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisClusterStatisticType.propertiesCount</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="propertiesDensity" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Context of clustering refers to the measure of how tightly packed or concentrated the
                            data points are within a cluster.
                            This parameter represents the total overlap of compared objects.

                            In the case of USER MODE, it is the role (properties) overlay over all users (members).
                            In the case of ROLE MODE, it is the user (properties) overlay over all roles (members).
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisClusterStatisticType.propertiesDensity</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="propertiesMean" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Average number of compared objects (properties) per member in a given group (RoleAnalysisCluster).
                            In the case of USER MODE, it is the average number of roles (properties).
                            In the case of ROLE MODE, it is the average number of users (properties).
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisClusterStatisticType.propertiesMean</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="propertiesMinOccupancy" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Minimum number of compared objects (properties) among the element in a given
                            group (RoleAnalysisCluster).
                            In the case of USER MODE, it is the minimum roles (properties) set size.
                            In the case of ROLE MODE, it is the minimum users (properties) set size.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisClusterStatisticType.propertiesMinOccupancy</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="propertiesMaxOccupancy" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Maximum number of compared objects (properties) among the element in a given
                            group (RoleAnalysisCluster).
                            In the case of USER MODE, it is the highest roles (properties) set size.
                            In the case of ROLE MODE, it is the highest users (properties) set size.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisClusterStatisticType.propertiesMaxOccupancy</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="riskLevel" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Not currently used (future).
                            Indication of the level of risk associated with the (RoleAnalysisClusterType).
                            This may be a numeric value, textual label are any other suitable machine-processable indication.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisClusterStatisticType.riskLevel</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="RoleAnalysisDetectionPatternType">
        <xsd:annotation>
            <xsd:documentation>
                The remains of the detected or found patterns and information about them.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="memberOccupancy" type="c:ObjectReferenceType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        The main object that was analyzed. In the case of ROLE MODE, the list of roles (members) object
                        IDs that make up the given group is included in the object. In the case of USER MODE,
                        the list of users (members) object IDs that make up the given group is included in the object.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="memberTypeObjectOccupancy" type="c:ObjectReferenceType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        All objects of member type (not only from clustered objects).
                        USER MODE (member) - user.
                        ROLE MODE (member) - role.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="propertiesOccupancy" type="c:ObjectReferenceType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Properties used for comparison.
                        USER MODE (properties) - role assign.
                        ROLE MODE (properties) - members count.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="clusterMetric" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            It expresses the range of reduced values when applying the business role design.
                            (Included in the group (cluster))
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisDetectionType.clusterMetric</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="detectionMode" type="tns:RoleAnalysisDetectionModeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Business role pattern detection mode.
                            JACCARD - search by jaccard index.
                            INTERSECTION - exact search by overlapping properties.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisDetectionModeType.detectionMode</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="RoleAnalysisSessionType">
        <xsd:annotation>
            <xsd:documentation>
                <p>
                    The RoleAnalysisSessionType represents a session for role analysis, providing a container for
                    RoleAnalysisCluster objects. It serves as a parent object that contains references and basic
                    information about its child clusters (RoleAnalysisClusterType).
                </p>
            </xsd:documentation>
            <xsd:appinfo>
                <a:object/>
                <a:since>4.8</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:AssignmentHolderType">
                <xsd:sequence>

                    <xsd:element name="roleAnalysisClusterRef" type="c:ObjectReferenceType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>
                                <p>
                                    Represents references to clusters (RoleAnalysisClusterType)
                                    associated with the role analysis session.
                                </p>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="clusterOptions" type="c:RoleAnalysisSessionOptionType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                <p>
                                    Object clustering options.

                                    Specification of parameters utilized for establishing cluster
                                    generation conditions, specifically pertaining to the RoleAnalysisClusterType.
                                    These parameters play a critical role in defining the criteria and conditions for
                                    grouping objects into clusters, enabling effective role analysis.

                                    Furthermore, the role analysis session allows for the possibility of updating these values.
                                    If there is a need to modify or refine the cluster options during the analysis process, the values
                                    associated with the keys can be updated accordingly. This flexibility enables fine-tuning of the
                                    role analysis based on changing requirements or new insights gained during the analysis phase.
                                </p>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="sessionStatistic" type="c:RoleAnalysisSessionStatisticType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                <p>
                                    The container consists of statistical data about the RoleAnalysisSession.
                                </p>
                            </xsd:documentation>
                            <xsd:appinfo>
                                <a:displayName>RoleAnalysisSessionStatisticType.sessionStatistic</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>

    </xsd:complexType>

    <xsd:element name="roleAnalysisSession" type="tns:RoleAnalysisSessionType" substitutionGroup="tns:object"/>

    <xsd:complexType name="RoleAnalysisSessionOptionType">
        <xsd:annotation>
            <xsd:documentation>
                Object clustering options.

                Specification of parameters utilized for establishing cluster
                generation conditions, specifically pertaining to the RoleAnalysisClusterType.
                These parameters play a critical role in defining the criteria and conditions for
                grouping objects into clusters, enabling effective role analysis.

                Furthermore, the role analysis session allows for the possibility of updating these values.
                If there is a need to modify or refine the cluster options during the analysis process, the values
                associated with the keys can be updated accordingly. This flexibility enables fine-tuning of the
                role analysis based on changing requirements or new insights gained during the analysis phase.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="filter" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Specifies the query or filter applied to the userType object.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisSessionOptionType.axiomFilter</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="processMode" type="tns:RoleAnalysisProcessModeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            The mode element specifies the process mode for role analysis. It determines the specific approach
                            or methodology used during the analysis.

                            We currently use an enum type to identify the mode (ROLE MODE, USER MODE)
                            For Role Analysis (ROLE):
                            Role perspective is taken into account. The role mining process focuses on identifying
                            and analyzing roles based on their similarity and considering the perspective of roles
                            (vectors of users who have this role are compared). Objects
                            that meet the specified conditions, determined by the input parameters, are added to the data set
                            to facilitate role mining

                            For User Analysis (USER):
                            User perspective is taken into account. The user mining process focuses on identifying and
                            analyzing users based on their similarity and considering the perspective of users
                            (the role vectors assigned to the given users are compared). Objects that
                            meet the specified conditions, determined by the input parameters, are added to the data set to
                            facilitate role mining.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisProcessModeType.processMode</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="similarityThreshold" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Similarity threshold used for clustering (Jaccard).
                            If the condition is not met, then the objects are grouped.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisSessionOptionType.similarityThreshold</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="minUniqueGroupCount" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Specifies the minimum size of a group (unique objects).
                            We consider a unique object to be a separate unique object with unique properties
                            or a group of objects consisting of the same properties.

                            NOTE: The parameter checks the number of these unique objects, not the total
                            number of included objects in the cluster.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisSessionOptionType.minUniqueGroupSize</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="minPropertiesCount" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Minimum count of relation with compared object.
                            USER MODE - min role assign.
                            ROLE MODE - min members count.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisSessionOptionType.minPropertiesCount</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="maxPropertiesCount" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Maximum count of relation with compared object.
                            USER MODE - min role assign.
                            ROLE MODE - min members count.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisSessionOptionType.minPropertiesCount</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="minPropertiesOverlap" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Minimum property overlap size.
                            In the case of USER MODE, the user is included in the analysis, if there are other user(s) who have
                            at least "minOverlapCondition" equal roles.
                            In the case of ROLE MODE, the role is included in the analysis, if there are other role(s) who have
                            at least "minOverlapCondition" equal users.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisSessionOptionType.minPropertiesOverlap</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="RoleAnalysisDetectionOptionType">
        <xsd:annotation>
            <xsd:documentation>
                Options for Detecting Business Roles

                These parameters serve as key specifications for performing searches
                and analyzes aimed at discovering different business roles.

                Furthermore, the role analysis session allows for the possibility of updating these values.
                If there is a need to modify or refine the cluster options during the analysis process, the values
                associated with the keys can be updated accordingly. This flexibility enables fine-tuning of the
                role analysis based on changing requirements or new insights gained during the analysis phase.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="minPropertiesOverlap" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Minimum property overlap size.
                            In the case of USER MODE, the user is included in the analysis, if there are other user(s) who have
                            at least "minOverlapCondition" equal roles.
                            In the case of ROLE MODE, the role is included in the analysis, if there are other role(s) who have
                            at least "minOverlapCondition" equal users.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisDetectionOptionType.minPropertiesOverlap</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="minOccupancy" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            The minimum number of objects covered by the found business role.
                            In the case of USER MODE - the number of roles of which the business role consists.
                            In the case of ROLE MODE - the number of users to which the business role can be applied.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisDetectionOptionType.minOccupancy</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="minFrequencyThreshold" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Minimum required frequency. If the condition is not met, the objects are not included in the
                            detection (search).
                            In the case of USER MODE - frequency of application of roles (properties)
                            due to processed members(users)
                            In the case of ROLE MODE - frequency of disposition of users (properties)
                            due to processed members(roles)
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisDetectionOptionType.minFrequencyThreshold</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="maxFrequencyThreshold" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Maximum required frequency. If the condition is not met, the objects are not included in the
                            detection (search).
                            In the case of USER MODE - frequency of application of roles (properties)
                            due to processed members (users)
                            In the case of ROLE MODE - frequency of disposition of users (properties)
                            due to processed members (roles)
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisDetectionOptionType.maxFrequencyThreshold</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="jaccardSimilarityThreshold" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            A similarity threshold used to find similar objects based on their properties.
                            Only allowed in JACCARD search mode.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisDetectionOptionType.jaccardSimilarityThreshold</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="detectionMode" type="tns:RoleAnalysisDetectionModeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Business role search or detection mode.
                            JACCARD - search by jaccard index.
                            INTERSECTION - exact search by overlapping properties.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisDetectionOptionType.searchMode</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="RoleAnalysisSessionStatisticType">
        <xsd:annotation>
            <xsd:documentation>
                The container consists of statistical data about the RoleAnalysisSession.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="processedObjectCount" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            ProcessedObjectCount represents the number of members objects
                            that are part of clusters RoleAnalysisClusterType belonging to RoleAnalysisSessionType.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisSessionStatisticType.processedObjectCount</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="meanDensity" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            It expresses the average overlap density of child clusters (RoleAnalysisClusterType).
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisSessionStatisticType.meanDensity</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="riskLevel" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Not currently used (future).
                            Indication of the level of risk associated with the child clusters (RoleAnalysisSessionType).
                            This may be a numeric value, textual label are any other suitable machine-processable indication.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisSessionStatisticType.riskLevel</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:simpleType name="RoleAnalysisProcessModeType">
        <xsd:annotation>
            <xsd:documentation>
                Enum value for process mode.
            </xsd:documentation>
            <xsd:appinfo>
                <a:experimental>true</a:experimental>
                <a:since>4.8</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="role">
                <xsd:annotation>
                    <xsd:documentation>
                        This mapping should be used during parsing over role objects
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="ROLE"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="user">
                <xsd:annotation>
                    <xsd:documentation>
                        This mapping should be used during parsing over user objects
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="USER"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="RoleAnalysisDetectionModeType">
        <xsd:annotation>
            <xsd:documentation>
                Enum value for search mode.
            </xsd:documentation>
            <xsd:appinfo>
                <a:experimental>true</a:experimental>
                <a:since>4.8</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="jaccard">
                <xsd:annotation>
                    <xsd:documentation>
                        This mapping should be used during jaccard search.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="JACCARD"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="intersection">
                <xsd:annotation>
                    <xsd:documentation>
                        This mapping should be used during intersection search.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="INTERSECTION"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
