infra/schema/src/main/resources/xml/ns/public/common/common-case-management-3.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2010-2017 Evolveum
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<xsd:schema targetNamespace="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
            xmlns:tns="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:a="http://prism.evolveum.com/xml/ns/public/annotation-3"
            xmlns:c="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
            xmlns:t="http://prism.evolveum.com/xml/ns/public/types-3"
            xmlns:q="http://prism.evolveum.com/xml/ns/public/query-3"
            xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            elementFormDefault="qualified"
            xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
            jaxb:extensionBindingPrefixes="xjc"
            jaxb:version="2.0">

    <xsd:annotation>
        <xsd:documentation>
            TODO
        </xsd:documentation>
    </xsd:annotation>

    <!-- Don't provide schemaLocation here, as it causes xjc to really contact the URIs (!) -->
    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/annotation-3"/>
    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/types-3"/>
    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/query-3"/>

    <xsd:include schemaLocation="http://midpoint.evolveum.com/xml/ns/public/common/common-core-3" />

    <xsd:complexType name="CaseType">
        <xsd:annotation>
            <xsd:documentation>
                TODO
            </xsd:documentation>
            <xsd:appinfo>
                <a:object/>
                <a:since>3.6</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:ObjectType">
                <xsd:sequence>
                    <!-- TODO payload -->

                    <xsd:element name="state" type="xsd:anyURI" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                TODO
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="outcome" type="xsd:anyURI" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                TODO
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="closeTimestamp" type="xsd:dateTime" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                When was this case closed?
                                (Note that the creation timestamp is present in the object metadata.)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
					<!--<xsd:element name="event" type="tns:CaseEventType" minOccurs="0" maxOccurs="unbounded">-->
						<!--<xsd:annotation>-->
							<!--<xsd:documentation>-->
								<!--Events that occurred during lifetime of this process instance.-->
							<!--</xsd:documentation>-->
						<!--</xsd:annotation>-->
					<!--</xsd:element>-->
                    <xsd:element name="workItem" type="tns:CaseWorkItemType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>
                                TODO
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <!-- stage number -->
                    <!-- deadline -->
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="case" type="tns:CaseType"/>

    <xsd:complexType name="AbstractWorkItemType">
        <xsd:annotation>
            <xsd:documentation>
                Common superclass for workflow (approval) work item, certification work item and case management work item.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container/>
                <a:since>3.6</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="originalAssigneeRef" type="tns:ObjectReferenceType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Original assignee for this work item.
                    </xsd:documentation>
                    <!-- TODO allow also roles/orgs here. -->
                    <xsd:appinfo>
                        <a:objectReferenceTargetType>tns:UserType</a:objectReferenceTargetType>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="assigneeRef" type="tns:ObjectReferenceType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Users to which the work item is assigned. Other users do not see such a work item in their work lists.
                        Normally the work item is assigned to a single user. However, when delegating (directly or via escalation)
                        more assignees could be added.
                    </xsd:documentation>
                    <!-- TODO allow also roles/orgs here. -->
                    <xsd:appinfo>
                        <a:objectReferenceTargetType>tns:UserType</a:objectReferenceTargetType>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="candidateRef" type="tns:ObjectReferenceType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Users and abstract roles to which the work item MAY BE assigned.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:objectReferenceTargetType>tns:FocusType</a:objectReferenceTargetType>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="executorRef" type="tns:ObjectReferenceType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        User who actually executed (completed) this work item.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:objectReferenceTargetType>tns:UserType</a:objectReferenceTargetType>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <!-- stage number -->

            <xsd:element name="outcome" type="xsd:anyURI" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Work item outcome (if any).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="comment" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        The executor's comment.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="closedTimestamp" type="xsd:dateTime" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        When was this work item closed. (If null, it is considered open.)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="CaseWorkItemType">
        <xsd:annotation>
            <xsd:documentation>
                A work item for a (generic) case.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container/>
                <a:since>3.6</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:AbstractWorkItemType">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <!--<xsd:complexType name="CaseEventType">-->
        <!--<xsd:annotation>-->
            <!--<xsd:documentation>-->
                <!--Any event occurring during case lifetime that needs to be recorded, e.g. an action done by a user.-->
            <!--</xsd:documentation>-->
            <!--<xsd:appinfo>-->
                <!--<a:since>3.6</a:since>-->
            <!--</xsd:appinfo>-->
        <!--</xsd:annotation>-->
        <!--<xsd:sequence>-->
            <!--<xsd:element name="timestamp" type="xsd:dateTime">-->
                <!--<xsd:annotation>-->
                    <!--<xsd:documentation>-->
                        <!--Time in which the event occurred.-->
                    <!--</xsd:documentation>-->
                <!--</xsd:annotation>-->
            <!--</xsd:element>-->
            <!--<xsd:element name="initiatorRef" type="c:ObjectReferenceType" minOccurs="0">-->
                <!--<xsd:annotation>-->
                    <!--<xsd:documentation>-->
                        <!--User who initiated this action. (Typically, a user who made an action.)-->
                        <!--Might be null if unknown.-->
                    <!--</xsd:documentation>-->
                    <!--<xsd:appinfo>-->
                        <!--<a:objectReferenceTargetType>tns:UserType</a:objectReferenceTargetType>-->
                    <!--</xsd:appinfo>-->
                <!--</xsd:annotation>-->
            <!--</xsd:element>-->
            <!--<xsd:element name="stageNumber" type="xsd:int" minOccurs="0">-->
                <!--<xsd:annotation>-->
                    <!--<xsd:documentation>-->
                        <!--Number of the stage at which this event occurred (if the case resolution can be conceptually divided into stages).-->
                        <!--Starts at 1. Null if not applicable.-->
                    <!--</xsd:documentation>-->
                <!--</xsd:annotation>-->
            <!--</xsd:element>-->
            <!--<xsd:element name="stageName" type="xsd:string" minOccurs="0">-->
                <!--<xsd:annotation>-->
                    <!--<xsd:documentation>-->
                        <!--Name of the stage at which this event occurred (if the case resolution can be conceptually divided into stages).-->
                    <!--</xsd:documentation>-->
                <!--</xsd:annotation>-->
            <!--</xsd:element>-->
            <!--<xsd:element name="stageDisplayName" type="xsd:string" minOccurs="0">-->
                <!--<xsd:annotation>-->
                    <!--<xsd:documentation>-->
                        <!--Display name of the stage at which this event occurred was made (if the case resolution can be conceptually divided into stages).-->
                    <!--</xsd:documentation>-->
                <!--</xsd:annotation>-->
            <!--</xsd:element>-->
        <!--</xsd:sequence>-->
    <!--</xsd:complexType>-->

    <!--<xsd:complexType name="WorkItemEventCauseInformationType">-->
        <!--<xsd:annotation>-->
            <!--<xsd:appinfo>-->
                <!--<a:since>3.6</a:since>-->
            <!--</xsd:appinfo>-->
        <!--</xsd:annotation>-->
        <!--<xsd:sequence>-->
            <!--<xsd:element name="type" type="tns:WorkItemEventCauseTypeType" minOccurs="0" />-->
			<!--<xsd:element name="name" type="xsd:string" minOccurs="0">-->
				<!--<xsd:annotation>-->
					<!--<xsd:documentation>E.g. name of a timed action that caused the event.</xsd:documentation>-->
				<!--</xsd:annotation>-->
			<!--</xsd:element>-->
            <!--<xsd:element name="displayName" type="xsd:string" minOccurs="0" />-->
        <!--</xsd:sequence>-->
    <!--</xsd:complexType>-->

	<!--&lt;!&ndash; TODO consider switching to anyURI &ndash;&gt; -->
    <!--<xsd:simpleType name="WorkItemEventCauseTypeType">-->
        <!--<xsd:annotation>-->
            <!--<xsd:documentation>-->
                <!--Type of event cause.-->
            <!--</xsd:documentation>-->
            <!--<xsd:appinfo>-->
                <!--<jaxb:typesafeEnumClass/>-->
                <!--<a:since>3.6</a:since>-->
            <!--</xsd:appinfo>-->
        <!--</xsd:annotation>-->
        <!--<xsd:restriction base="xsd:string">-->
            <!--<xsd:enumeration value="userAction">-->
                <!--<xsd:annotation>-->
                    <!--<xsd:documentation>-->
                        <!--This event was caused by a user action.-->
                    <!--</xsd:documentation>-->
                    <!--<xsd:appinfo>-->
                        <!--<jaxb:typesafeEnumMember name="USER_ACTION"/>-->
                    <!--</xsd:appinfo>-->
                <!--</xsd:annotation>-->
            <!--</xsd:enumeration>-->
            <!--<xsd:enumeration value="timedAction">-->
                <!--<xsd:annotation>-->
                    <!--<xsd:documentation>-->
                        <!--This event was caused by a timed action.-->
                    <!--</xsd:documentation>-->
                    <!--<xsd:appinfo>-->
                        <!--<jaxb:typesafeEnumMember name="TIMED_ACTION"/>-->
                    <!--</xsd:appinfo>-->
                <!--</xsd:annotation>-->
            <!--</xsd:enumeration>-->
        <!--</xsd:restriction>-->
    <!--</xsd:simpleType>-->

    <!--<xsd:complexType name="WorkItemEventType">-->
        <!--<xsd:annotation>-->
            <!--<xsd:documentation>-->
                <!--Process event related to a specific work item.-->
            <!--</xsd:documentation>-->
            <!--<xsd:appinfo>-->
                <!--<a:since>3.6</a:since>-->
            <!--</xsd:appinfo>-->
        <!--</xsd:annotation>-->
        <!--<xsd:complexContent>-->
            <!--<xsd:extension base="tns:CaseEventType">-->
                <!--<xsd:sequence>-->
                    <!--<xsd:element name="workItemId" type="xsd:string" minOccurs="0">-->
                        <!--<xsd:annotation>-->
                            <!--<xsd:documentation>-->
                                <!--ID of the work item this event is related to. May be empty for events-->
                                <!--not related to any work item, e.g. some kinds of automated approvals.-->
                            <!--</xsd:documentation>-->
                        <!--</xsd:annotation>-->
                    <!--</xsd:element>-->
                    <!--<xsd:element name="originalAssigneeRef" type="c:ObjectReferenceType" minOccurs="0">-->
                        <!--<xsd:annotation>-->
                            <!--<xsd:documentation>-->
                                <!--User to which this work item was originally assigned.-->
                            <!--</xsd:documentation>-->
                            <!--<xsd:appinfo>-->
                                <!--<a:objectReferenceTargetType>tns:UserType</a:objectReferenceTargetType>-->
                            <!--</xsd:appinfo>-->
                        <!--</xsd:annotation>-->
                    <!--</xsd:element>-->
                    <!--<xsd:element name="escalationLevelNumber" type="xsd:int" minOccurs="0">-->
                        <!--<xsd:annotation>-->
                            <!--<xsd:documentation>-->
                                <!--Escalation level number (if applicable). Zero or null means no escalation.-->
                            <!--</xsd:documentation>-->
                        <!--</xsd:annotation>-->
                    <!--</xsd:element>-->
                    <!--<xsd:element name="escalationLevelName" type="xsd:string" minOccurs="0">-->
                        <!--<xsd:annotation>-->
                            <!--<xsd:documentation>-->
                                <!--Escalation level name (if applicable).-->
                            <!--</xsd:documentation>-->
                        <!--</xsd:annotation>-->
                    <!--</xsd:element>-->
                    <!--<xsd:element name="escalationLevelDisplayName" type="xsd:string" minOccurs="0">-->
                        <!--<xsd:annotation>-->
                            <!--<xsd:documentation>-->
                                <!--Escalation level display name (if applicable).-->
                            <!--</xsd:documentation>-->
                        <!--</xsd:annotation>-->
                    <!--</xsd:element>-->
                    <!--<xsd:element name="cause" type="tns:WorkItemEventCauseInformationType" minOccurs="0">-->
                        <!--<xsd:annotation>-->
                            <!--<xsd:documentation>-->
                                <!--Cause of the event occurring. E.g. user action, timed action (and which one).-->
                                <!--EXPERIMENTAL; TO BE DECIDED ABOUT THIS BEFORE 3.6 RELEASE-->
                            <!--</xsd:documentation>-->
                        <!--</xsd:annotation>-->
                    <!--</xsd:element>-->
                    <!--&lt;!&ndash; TODO reason? e.g. when doing escalation? &ndash;&gt;-->
                <!--</xsd:sequence>-->
            <!--</xsd:extension>-->
        <!--</xsd:complexContent>-->
    <!--</xsd:complexType>-->

    <!--<xsd:complexType name="WorkItemCompletionEventType">-->
        <!--<xsd:annotation>-->
            <!--<xsd:documentation>-->
                <!--Event describing the work item completion.-->
            <!--</xsd:documentation>-->
            <!--<xsd:appinfo>-->
                <!--<a:since>3.6</a:since>-->
            <!--</xsd:appinfo>-->
        <!--</xsd:annotation>-->
        <!--<xsd:complexContent>-->
            <!--<xsd:extension base="tns:WorkItemEventType">-->
                <!--<xsd:sequence>-->
                    <!--<xsd:element name="result" type="tns:WorkItemResultType" minOccurs="0" />-->
                <!--</xsd:sequence>-->
            <!--</xsd:extension>-->
        <!--</xsd:complexContent>-->
    <!--</xsd:complexType>-->

    <!--<xsd:complexType name="WorkItemDelegationEventType">-->
        <!--<xsd:annotation>-->
            <!--<xsd:documentation>-->
                <!--Event describing the fact of delegation.-->
            <!--</xsd:documentation>-->
            <!--<xsd:appinfo>-->
                <!--<a:since>3.6</a:since>-->
            <!--</xsd:appinfo>-->
        <!--</xsd:annotation>-->
        <!--<xsd:complexContent>-->
            <!--<xsd:extension base="tns:WorkItemEventType">-->
                <!--<xsd:sequence>-->
                    <!--<xsd:element name="assigneeBefore" type="tns:ObjectReferenceType" minOccurs="0" maxOccurs="unbounded"/>-->
                    <!--<xsd:element name="delegatedTo" type="tns:ObjectReferenceType" minOccurs="0" maxOccurs="unbounded"/>-->
                    <!--<xsd:element name="delegationMethod" type="tns:WorkItemDelegationMethodType" minOccurs="0" />-->
                <!--</xsd:sequence>-->
            <!--</xsd:extension>-->
        <!--</xsd:complexContent>-->
    <!--</xsd:complexType>-->

    <!--<xsd:complexType name="WorkItemEscalationEventType">-->
        <!--<xsd:annotation>-->
            <!--<xsd:documentation>-->
                <!--Event describing the fact of escalation.-->
            <!--</xsd:documentation>-->
            <!--<xsd:appinfo>-->
                <!--<a:since>3.6</a:since>-->
            <!--</xsd:appinfo>-->
        <!--</xsd:annotation>-->
        <!--<xsd:complexContent>-->
            <!--<xsd:extension base="tns:WorkItemDelegationEventType">-->
                <!--<xsd:sequence>-->
                    <!--<xsd:element name="newEscalationLevelNumber" type="xsd:int" />-->
                    <!--<xsd:element name="newEscalationLevelName" type="xsd:string" minOccurs="0" />-->
                    <!--<xsd:element name="newEscalationLevelDisplayName" type="xsd:string" minOccurs="0" />-->
                <!--</xsd:sequence>-->
            <!--</xsd:extension>-->
        <!--</xsd:complexContent>-->
    <!--</xsd:complexType>-->

    <!--<xsd:complexType name="CaseStageCompletionEventType">-->
        <!--<xsd:annotation>-->
            <!--<xsd:documentation>-->
                <!--Event describing the completion of a case processing stage.-->
            <!--</xsd:documentation>-->
            <!--<xsd:appinfo>-->
                <!--<a:since>3.6</a:since>-->
            <!--</xsd:appinfo>-->
        <!--</xsd:annotation>-->
        <!--<xsd:complexContent>-->
            <!--<xsd:extension base="tns:CaseEventType">-->
                <!--<xsd:sequence>-->
                    <!--<xsd:element name="outcome" type="tns:ApprovalLevelOutcomeType" minOccurs="0" />-->
                    <!--<xsd:element name="automatedDecisionReason" type="tns:AutomatedDecisionReasonType" minOccurs="0">-->
                        <!--<xsd:annotation>-->
                            <!--<xsd:documentation>-->
                                <!--Reason for automated decision, if applicable.-->
                            <!--</xsd:documentation>-->
                        <!--</xsd:annotation>-->
                    <!--</xsd:element>-->
                <!--</xsd:sequence>-->
            <!--</xsd:extension>-->
        <!--</xsd:complexContent>-->
    <!--</xsd:complexType>-->

    <!--<xsd:complexType name="WfProcessCompletionEventType">-->
        <!--<xsd:annotation>-->
            <!--<xsd:documentation>-->
                <!--Event describing the completion of a workflow process instance.-->
            <!--</xsd:documentation>-->
            <!--<xsd:appinfo>-->
                <!--<a:since>3.6</a:since>-->
            <!--</xsd:appinfo>-->
        <!--</xsd:annotation>-->
        <!--<xsd:complexContent>-->
            <!--<xsd:extension base="tns:WfProcessEventType">-->
                <!--<xsd:sequence>-->
                    <!--&lt;!&ndash; TODO &ndash;&gt;-->
                <!--</xsd:sequence>-->
            <!--</xsd:extension>-->
        <!--</xsd:complexContent>-->
    <!--</xsd:complexType>-->

    <!--<xsd:complexType name="WfProcessCreationEventType">-->
        <!--<xsd:annotation>-->
            <!--<xsd:documentation>-->
                <!--Event describing the creation of a workflow process instance.-->
            <!--</xsd:documentation>-->
            <!--<xsd:appinfo>-->
                <!--<a:since>3.6</a:since>-->
            <!--</xsd:appinfo>-->
        <!--</xsd:annotation>-->
        <!--<xsd:complexContent>-->
            <!--<xsd:extension base="tns:WfProcessEventType">-->
                <!--<xsd:sequence>-->
                    <!--<xsd:element name="businessContext" type="tns:OperationBusinessContextType" minOccurs="0">-->
                        <!--<xsd:annotation>-->
                            <!--<xsd:documentation>-->
                                <!--Business context of the operation, if provided.-->
                                <!--TODO move to WfProcessEventType?-->
                            <!--</xsd:documentation>-->
                        <!--</xsd:annotation>-->
                    <!--</xsd:element>-->
                <!--</xsd:sequence>-->
            <!--</xsd:extension>-->
        <!--</xsd:complexContent>-->
    <!--</xsd:complexType>-->

    <!--<xsd:simpleType name="AutomatedDecisionReasonType">-->
        <!--<xsd:annotation>-->
            <!--<xsd:documentation>-->
                <!--Reason for automated decision.-->
            <!--</xsd:documentation>-->
            <!--<xsd:appinfo>-->
                <!--<jaxb:typesafeEnumClass/>-->
                <!--<a:since>3.6</a:since>-->
            <!--</xsd:appinfo>-->
        <!--</xsd:annotation>-->
        <!--<xsd:restriction base="xsd:string">-->
            <!--<xsd:enumeration value="autoCompletionCondition">-->
                <!--<xsd:annotation>-->
                    <!--<xsd:documentation>-->
                        <!--Completed automatically by the auto-completion or auto-approval condition.-->
                    <!--</xsd:documentation>-->
                    <!--<xsd:appinfo>-->
                        <!--<jaxb:typesafeEnumMember name="AUTO_COMPLETION_CONDITION"/>-->
                    <!--</xsd:appinfo>-->
                <!--</xsd:annotation>-->
            <!--</xsd:enumeration>-->
            <!--<xsd:enumeration value="noApproversFound">-->
                <!--<xsd:annotation>-->
                    <!--<xsd:documentation>-->
                        <!--Approved/rejected automatically because there were no approvers found.-->
                    <!--</xsd:documentation>-->
                    <!--<xsd:appinfo>-->
                        <!--<jaxb:typesafeEnumMember name="NO_APPROVERS_FOUND"/>-->
                    <!--</xsd:appinfo>-->
                <!--</xsd:annotation>-->
            <!--</xsd:enumeration>-->
        <!--</xsd:restriction>-->
    <!--</xsd:simpleType>-->


</xsd:schema>
