infra/schema/src/main/resources/xml/ns/public/common/common-correlation-3.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (C) 2010-2021 Evolveum and contributors
  ~
  ~ This work is dual-licensed under the Apache License 2.0
  ~ and European Union Public License. See LICENSE file for details.
  -->

<xsd:schema targetNamespace="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
            xmlns:tns="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:a="http://prism.evolveum.com/xml/ns/public/annotation-3"
            xmlns:c="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
            xmlns:t="http://prism.evolveum.com/xml/ns/public/types-3"
            xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            elementFormDefault="qualified"
            xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
            jaxb:extensionBindingPrefixes="xjc"
            jaxb:version="2.0">

    <xsd:annotation>
        <xsd:documentation>
            Parts of the common schema that are related to the correlation process.
        </xsd:documentation>
    </xsd:annotation>

    <!-- Don't provide schemaLocation here, as it causes xjc to really contact the URIs (!) -->
    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/annotation-3"/>
    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/types-3"/>

    <xsd:include schemaLocation="http://midpoint.evolveum.com/xml/ns/public/common/common-core-3" />

    <xsd:complexType name="CorrelationDefinitionType">
        <xsd:annotation>
            <xsd:documentation>
                TODO
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.5</a:since>
                <a:container>true</a:container>
                <a:experimental>true</a:experimental>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="correlators" type="tns:CompositeCorrelatorType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Definition of a correlator or correlators to be used.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:since>4.5</a:since>
                        <a:elaborate>true</a:elaborate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>
    <xsd:element name="correlationDefinition" type="tns:CorrelationDefinitionType"/>

    <xsd:complexType name="LegacyCorrelationDefinitionType">
        <xsd:annotation>
            <xsd:documentation>
                This type exists just to allow (deprecated) "cases" element in legacy synchronization bean.
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.6</a:since>
                <a:container>true</a:container>
                <a:experimental>true</a:experimental>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:CorrelationDefinitionType">
                <xsd:sequence>
                    <xsd:element name="cases" type="tns:CorrelationCasesDefinitionType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                Whether and how should we create correlation cases.
                            </xsd:documentation>
                            <xsd:appinfo>
                                <a:since>4.5</a:since>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="legacyCorrelationDefinition" type="tns:LegacyCorrelationDefinitionType"/>

    <xsd:complexType name="CorrelationCasesDefinitionType">
        <xsd:annotation>
            <xsd:documentation>
                TODO
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.5</a:since>
                <a:container>true</a:container>
                <a:experimental>true</a:experimental>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="enabled" type="xsd:boolean" minOccurs="0" default="true">
                <xsd:annotation>
                    <xsd:documentation>
                        Should the system create correlation cases? The default is "true" if this definition is present,
                        false otherwise.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <!-- the operators + deadlines are defined in resource business definition -->
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>
    <xsd:element name="correlationCasesDefinition" type="tns:CorrelationCasesDefinitionType"/>

    <xsd:complexType name="CompositeCorrelatorType">
        <xsd:annotation>
            <xsd:documentation>
                TODO
                User-friendly way of defining a correlator or correlators.
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.5</a:since>
                <a:container>true</a:container>
                <a:experimental>true</a:experimental>
                <a:elaborate>true</a:elaborate>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:AbstractCorrelatorType">
                <xsd:sequence>
                    <xsd:element name="extension" type="tns:ExtensionType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                Correlators not defined in the static schema. (E.g. dummy correlator used for testing,
                                or custom correlators.)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="none" type="tns:NoOpCorrelatorType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>
                                "No-op" correlation that always returns "certainly no owner" result.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="items" type="tns:ItemsCorrelatorType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>
                                Correlation using a list of matching items.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="filter" type="tns:FilterCorrelatorType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>
                                Correlation using a query filter.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="expression" type="tns:ExpressionCorrelatorType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>
                                Correlation using a custom expression.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idMatch" type="tns:IdMatchCorrelatorType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>
                                Correlation using ID Match service.
                                See https://spaces.at.internet2.edu/display/cifer/SOR-Registry+Strawman+ID+Match+API.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="composite" type="tns:CompositeCorrelatorType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>
                                TODO
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="compositeCorrelator" type="tns:CompositeCorrelatorType"/>

    <xsd:complexType name="AbstractCorrelatorType">
        <xsd:annotation>
            <xsd:documentation>
                Definition of a correlator.
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.5</a:since>
                <a:container>true</a:container>
                <a:experimental>true</a:experimental>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="order" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Order in which this correlator is to be evaluated. (Related to other correlators.)
                        Smaller numbers go first. Entries with no order go last.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>AbstractCorrelatorType.order</a:displayName>
                        <a:displayOrder>10</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="authority" type="tns:CorrelatorAuthorityLevelType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        TODO
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>AbstractCorrelatorType.authority</a:displayName>
                        <a:displayOrder>15</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="confidence" type="tns:CorrelationConfidenceDefinitionType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Defines how this correlator - if matching - increases the overall confidence of its results.

                        NOT IMPLEMENTED YET
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:since>4.6</a:since>
                        <a:displayName>AbstractCorrelatorType.confidence</a:displayName>
                        <a:displayOrder>20</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="ignoreIfMatchedBy" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        If any of these match the candidate that this particular correlator matches as well, the confidence
                        boost stemming from being matched by this correlator is not applied.

                        E.g. if rule 1 states that matching by both givenName and familyName (at the same time) gives
                        confidence boost of 0.5, and rule 2 states that matching familyName (without regarding any other item)
                        gives confidence boost of 0.3, then the rule 2 should be ignored if rule 1 matches; otherwise, any
                        candidate that matches both on givenName and familyName would get a boost of 0.5 + 0.3 = 0.8.

                        TODO consider better name

                        NOT IMPLEMENTED YET
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:since>4.6</a:since>
                        <a:displayName>AbstractCorrelatorType.ignoreIfMatchedBy</a:displayName>
                        <a:displayOrder>20</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="enabled" type="xsd:boolean" minOccurs="0" default="true">
                <xsd:annotation>
                    <xsd:documentation>
                        A way how to disable a correlator (either temporarily, or e.g. for sub-types).
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>AbstractCorrelatorType.enabled</a:displayName>
                        <a:displayOrder>30</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="using" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Reference to the correlator to be used at this place.
                        TODO refine this specification
                        TODO implement
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>AbstractCorrelatorType.ref</a:displayName>
                        <a:displayOrder>50</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="extending" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Reference to an upstream definition of correlator. It is used as a template for this correlator.
                        TODO refine this specification
                        TODO implement
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>AbstractCorrelatorType.ref</a:displayName>
                        <a:displayOrder>50</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="name" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Name of the correlator. Should be unique in the given context (object type definition,
                        resource, or system-wide).
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>AbstractCorrelatorType.name</a:displayName>
                        <a:displayOrder>100</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <xsd:element ref="tns:displayName" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>AbstractCorrelatorType.displayName</a:displayName>
                        <a:displayOrder>110</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <xsd:element ref="tns:description" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>AbstractCorrelatorType.description</a:displayName>
                        <a:displayOrder>120</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <xsd:element ref="tns:documentation" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>AbstractCorrelatorType.documentation</a:displayName>
                        <a:displayOrder>130</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="definitions" type="tns:CorrelatorDefinitionsType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        TODO
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>AbstractCorrelatorType.definitions</a:displayName>
                        <a:displayOrder>5</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="CorrelatorDefinitionsType">
        <xsd:annotation>
            <xsd:documentation>
                TODO
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.5</a:since>
                <a:container>true</a:container>
                <a:experimental>true</a:experimental>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="places" type="tns:CorrelationPlacesDefinitionType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        TODO
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="items" type="tns:CorrelationItemsDefinitionType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        TODO
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="CorrelationPlacesDefinitionType">
        <xsd:annotation>
            <xsd:documentation>
                Where to find correlation items - i.e. items that are used for correlation.
                See the definition of correlation item for a description of source, and primary and secondary targets.
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.5</a:since>
                <a:container>true</a:container>
                <a:experimental>true</a:experimental>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="source" type="tns:CorrelationItemSourceDefinitionType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Where the source items reside (in pre-focus or shadow object).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="target" type="tns:CorrelationItemTargetDefinitionType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Where the primary targets are (in focus objects).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="CorrelationItemsDefinitionType">
        <xsd:annotation>
            <xsd:documentation>
                Shared (referencable) definitions of correlation items.
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.5</a:since>
                <a:container>true</a:container>
                <a:experimental>true</a:experimental>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="item" type="tns:CorrelationItemDefinitionType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Collection of definitions of individual correlation items.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="CorrelationItemDefinitionType">
        <xsd:annotation>
            <xsd:documentation>
                Shared definition of a correlation item.
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.5</a:since>
                <a:container>true</a:container>
                <a:experimental>true</a:experimental>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Name by which this definition is referenced. If not present, the last segment of the source
                        is used to derive the name.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="tns:description" minOccurs="0"/>
            <xsd:element ref="tns:documentation" minOccurs="0"/>
            <xsd:element name="path" type="t:ItemPathType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Short alternative to source/target definitions. If present, default source and target
                        with this path are created. Should not be used along with source and/or target definitions.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="source" type="tns:CorrelationItemSourceDefinitionType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        TODO
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="target" type="tns:CorrelationItemTargetDefinitionType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        TODO
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="CorrelationItemSourceOrTargetDefinitionType">
        <xsd:annotation>
            <xsd:documentation>
                TODO
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.5</a:since>
                <a:experimental>true</a:experimental>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="path" type="t:ItemPathType" minOccurs="0"/>
                <xsd:element name="route" type="c:ItemRouteType" minOccurs="0"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CorrelationItemSourceDefinitionType">
        <xsd:annotation>
            <xsd:documentation>
                TODO
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.5</a:since>
                <a:experimental>true</a:experimental>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:CorrelationItemSourceOrTargetDefinitionType">
                <xsd:sequence>
                    <!-- ? -->
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="CorrelationItemTargetDefinitionType">
        <xsd:annotation>
            <xsd:documentation>
                TODO
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.5</a:since>
                <a:experimental>true</a:experimental>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:CorrelationItemSourceOrTargetDefinitionType">
                <xsd:sequence>
                    <!-- restriction for presentation / search use ? -->
                    <xsd:element name="qualifier" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="CorrelatorAuthorityLevelType">
        <xsd:annotation>
            <xsd:documentation>
                TODO

                Note to implementers: The ordering of values in this enum is of decreasing authoritativeness.
                If two correlators have the same order value, they will be ordered according to the value of authority level.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="principal">
                <xsd:annotation>
                    <xsd:documentation>
                        If the correlator provides an owner (must be 0 or 1), it is taken immediately as the result
                        of the correlation.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="PRINCIPAL"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="authoritative">
                <xsd:annotation>
                    <xsd:documentation>
                        If the correlator provides an owner (must be 0 or 1), it is considered along with other
                        results from authoritative correlators. If - by chance - they return contradicting answers,
                        they are presented to the operator.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="AUTHORITATIVE"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="nonAuthoritative">
                <xsd:annotation>
                    <xsd:documentation>
                        TODO

                        Note that the evaluation stops before the first non-authoritative correlator, if there is
                        an authoritative owner found at that time. So all authoritative/principal should be evaluated
                        before the first non-authoritative correlator.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="NON_AUTHORITATIVE"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="NoOpCorrelatorType">
        <xsd:annotation>
            <xsd:documentation>
                "No-op" correlation that always returns "certainly no owner" result.

                TODO NoneCorrelatorType?
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.5</a:since>
                <a:container>true</a:container>
                <a:experimental>true</a:experimental>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:AbstractCorrelatorType">
                <xsd:sequence>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="noOpCorrelator" type="tns:NoOpCorrelatorType"/>

    <xsd:complexType name="ItemsCorrelatorType">
        <xsd:annotation>
            <xsd:documentation>
                TODO
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.5</a:since>
                <a:container>true</a:container>
                <a:experimental>true</a:experimental>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:AbstractCorrelatorType">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:ItemCorrelationType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>
                                Item that should be correlated.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="itemsCorrelator" type="tns:ItemsCorrelatorType"/>

    <xsd:complexType name="ItemCorrelationType">
        <xsd:annotation>
            <xsd:documentation>
                TODO
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.5</a:since>
                <a:container>true</a:container>
                <a:experimental>true</a:experimental>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="c:CorrelationItemDefinitionType">
                <xsd:sequence>
                    <xsd:element name="ref" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                Points to a shared item definition in "items" part of "definitions".
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="itemCorrelation" type="tns:ItemCorrelationType"/>

    <xsd:complexType name="FilterCorrelatorType">
        <xsd:annotation>
            <xsd:documentation>
                A correlator that uses a specified filter to find shadow owner.
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.5</a:since>
                <a:container>true</a:container>
                <a:experimental>true</a:experimental>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:AbstractCorrelatorType">
                <xsd:sequence>
                    <xsd:element name="ownerFilter" type="tns:ConditionalSearchFilterType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>
                                <!-- TODO RENAME IF NEEDED -->
                                <!-- TODO should the focus type be specified here? -->
                                <p>The filter that should return a list of candidate focus entries that may be owners
                                    of a particular shadow.</p>
                                <p>The filter in this case is conditional, i.e. there can be specified an expression
                                    that denotes a necessary condition for the filter to be applied.</p>
                                <p>Beware that the list of filters is unordered, so individual filters can be executed
                                    in arbitrary order. If you want to prescribe specific order, please use multiple
                                    filter correlators.</p>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="confirmation" type="c:ExpressionType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                Confirmation expression. The arguments are an account and a candidate owner (user). The
                                confirmation expressions should return true if the user should be owner of the account. It
                                should return false if the user cannot be owner of the account.

                                The evaluation of the confirmation expression may be relatively inefficient, as it will only
                                be run for candidate entries returned by correlation expression.

                                TODO review this
                                The expression variables should be set as follows:
                                $user - the candidate user object (one of the results of correlation expression)
                                $account - the changed account object
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="useConfirmationForSingleCandidate" type="xsd:boolean" minOccurs="0" default="true">
                        <xsd:annotation>
                            <xsd:documentation>
                                Should be the confirmation expression used also when there is only a single candidate
                                found by the filter? (The default is true. This is consistent with midPoint 4.3+ behavior.
                                Before midPoint 4.3, the default was false.)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="selection" type="c:ExpressionType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                Selection expression. Obtains a collection of all found candidate objects, and returns
                                the one(s) that should be selected.

                                NOT IMPLEMENTED YET.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="filterCorrelator" type="tns:FilterCorrelatorType"/>

    <xsd:complexType name="ExpressionCorrelatorType">
        <xsd:annotation>
            <xsd:documentation>
                A correlator that uses a specified expression to find shadow owner.
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.5</a:since>
                <a:container>true</a:container>
                <a:experimental>true</a:experimental>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:AbstractCorrelatorType">
                <xsd:sequence>
                    <xsd:choice>
                        <xsd:element name="owner" type="c:ExpressionType" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Expression that returns owner as an ObjectType.
                                    (MAYBE WE WILL REMOVE THIS.)
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="ownerRef" type="c:ExpressionType" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Expression that returns owner as an ObjectReferenceType.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:choice>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="expressionCorrelator" type="tns:ExpressionCorrelatorType"/>

    <xsd:complexType name="IdMatchCorrelatorType">
        <xsd:annotation>
            <xsd:documentation>
                Correlation using ID Match service.
                See https://spaces.at.internet2.edu/display/cifer/SOR-Registry+Strawman+ID+Match+API.

                This structure is temporary/experimental. It will be changed before 4.5 release.
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.5</a:since>
                <a:container>true</a:container>
                <a:experimental>true</a:experimental>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:AbstractCorrelatorType">
                <xsd:sequence>
                    <xsd:element name="sorLabel" type="xsd:string" minOccurs="0" default="midpoint">
                        <xsd:annotation>
                            <xsd:documentation>
                                Label for this System of Record. Default is "midpoint".
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="sorIdentifierPrefix" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                First part of the SOR identifier. Used to distinguish between various source systems
                                with overlapping primary ID spaces.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="sorIdentifierProperty" type="t:ItemPathType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                Attribute whose value provides the base of the SOR identifier. Default is the primary
                                identifier in the shadow.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="url" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                ID Match service URL.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="username" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                User (login) name used to connect to the service.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="password" type="t:ProtectedStringType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                Password used to connect to the service.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <!-- TODO referenceId mapping -->
                    <!-- TODO use something more strict than general composite correlator -->
                    <xsd:element name="followOn" type="tns:CompositeCorrelatorType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                The correlator that is applied to the resolved (or potentially-matching) reference identifier
                                provided by the ID Match service. It should be strictly synchronous.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="idMatchCorrelator" type="tns:IdMatchCorrelatorType"/>

    <xsd:complexType name="ShadowCorrelationStateType">
        <xsd:annotation>
            <xsd:documentation>
                Current state of the correlation process.

                This container is reset when a correlation starts, so data from (any) previous correlations
                are not mixed with the data about the current one.
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.5</a:since>
                <a:container>true</a:container>
                <a:experimental>true</a:experimental>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="correlationStartTimestamp" type="xsd:dateTime" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        When did the (last) correlation of this shadow start.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="correlationEndTimestamp" type="xsd:dateTime" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        When did the (last) correlation of this shadow end. The "end" means that the correlation came
                        to a definite conclusion: it either found an owner or determined that there is none.
                        (I.e. coming to the state of "disputed" is not considered to be the end of a correlation.)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="correlationCaseOpenTimestamp" type="xsd:dateTime" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        When was the correlation case opened. (If any.)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="correlationCaseCloseTimestamp" type="xsd:dateTime" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        When was the correlation case closed. (If any case is present, and if it was closed.)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <!-- The name "performerRef" is used also in work item. Let's stick with this term. -->
            <xsd:element name="performerRef" type="tns:ObjectReferenceType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Reference to the user(s) that performed the correlation - if known.
                        Currently, we include only performers that have provided the same outcome as was the final one.
                        (TODO: is this ok?)
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:objectReferenceTargetType>tns:UserType</a:objectReferenceTargetType>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="performerComment" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Comments of the user(s) during the correlation of the data. Note that these comments are in no
                        particular order, so basically it is not known who entered which comment.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="situation" type="tns:CorrelationSituationType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        What was the resulting situation of the correlation? (uncertain, ownerFound, noOwner)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ownerOptions" type="tns:ResourceObjectOwnerOptionsType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Options for object owner, if any were found. If present, the correlation is not complete.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="resultingOwner" type="tns:ObjectReferenceType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        The owner as determined by the correlation. Null if the correlation is not yet complete,
                        or if it concluded that no owner exists.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:objectReferenceTargetType>tns:FocusType</a:objectReferenceTargetType>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <!-- We could have a reference to case object here, but this link is maintained on the side of the case
                 (via case.objectRef). -->
            <xsd:element name="correlatorState" type="tns:AbstractCorrelatorStateType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        State of the specific correlator that has been used.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:objectReferenceTargetType>tns:FocusType</a:objectReferenceTargetType>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="ResourceObjectOwnerOptionsType">
        <xsd:annotation>
            <xsd:documentation>
                Describes the options for an owner of a resource object.
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.5</a:since>
                <a:container>true</a:container>
                <a:experimental>true</a:experimental>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="option" type="tns:ResourceObjectOwnerOptionType"
                    minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Options among which (if any) the user should decide. Should be at least two,
                        otherwise there's nothing to decide. One of the options is "no owner".
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="resourceObjectOwnerOptions" type="tns:ResourceObjectOwnerOptionsType"/>

    <xsd:complexType name="ResourceObjectOwnerOptionType">
        <xsd:annotation>
            <xsd:documentation>
                An option when choosing an owner for a resource object.
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.5</a:since>
                <a:experimental>true</a:experimental>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="identifier" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Identifier of the option. Generated and interpreted by the correlator.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="confidence" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        A value between 0 and 1. Later we'll convert xsd:double to something like xsd:decimal, after
                        it will be supported by prism layer.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="candidateOwnerRef" type="tns:ObjectReferenceType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        The candidate owner. Null if a new owner has to be created.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:objectReferenceTargetType>tns:FocusType</a:objectReferenceTargetType>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <!-- Here could come some details provided by the correlator(s).
             E.g. how the correlator(s) came to the specific confidence value. -->
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>
    <xsd:element name="resourceObjectOwnerOption" type="tns:ResourceObjectOwnerOptionType"/>

    <xsd:complexType name="AbstractCorrelatorStateType">
        <xsd:annotation>
            <xsd:documentation>
                Current state of a correlator being used.

                Currently, it is expected that there is exactly one correlator. But, in the future, there might
                be hierarchical correlators, so this structure may become hierarchical as well.
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.5</a:since>
                <a:container>true</a:container>
                <a:experimental>true</a:experimental>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="correlatorName" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Name of the correlator used.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="correlatorType" type="xsd:QName" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Type of the correlator used.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="IdMatchCorrelatorStateType">
        <xsd:annotation>
            <xsd:documentation>
                State of the process driven by ID Match correlator.
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.5</a:since>
                <a:container>true</a:container>
                <a:experimental>true</a:experimental>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:AbstractCorrelatorStateType">
                <xsd:sequence>
                    <xsd:element name="referenceId" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                Reference ID determined by ID Match (if known).
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="matchRequestId" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                Match request ID - present if the match is pending.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="idMatchCorrelationState" type="tns:IdMatchCorrelatorStateType"/>

    <xsd:complexType name="IdMatchAttributesType">
        <xsd:annotation>
            <xsd:documentation>
                Attributes to be sent to the external ID Match service.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:any minOccurs="0" maxOccurs="unbounded" processContents="lax">
            </xsd:any>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>
    <xsd:element name="idMatchAttributes" type="tns:IdMatchAttributesType" />

    <xsd:complexType name="CorrelationConfidenceDefinitionType">
        <xsd:annotation>
            <xsd:documentation>
                Defines the confidence increase for given correlator.
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.6</a:since>
                <a:container>true</a:container>
                <a:experimental>true</a:experimental>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:choice>
            <xsd:element name="value" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Specific confidence boost value.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="expression" type="tns:ExpressionType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Expression providing the confidence value if a rule does match.
                        TODO what are the parameters? (E.g. Levenshtein distance for this item?)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:choice>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="ItemCorrelationDefinitionType">
        <xsd:annotation>
            <xsd:documentation>
                A shortcut: correlation definition attached directly to a resource attribute or (in the future) focus item.
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.6</a:since>
                <a:container>true</a:container>
                <a:experimental>true</a:experimental>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="authority" type="tns:CorrelatorAuthorityLevelType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        An authority - if this attribute creates its own correlation rule.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>AbstractCorrelatorType.authority</a:displayName>
                        <a:displayOrder>15</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="confidence" type="tns:CorrelationConfidenceDefinitionType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        A confidence - if this attribute creates its own correlation rule.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="rules" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Items correlators (a.k.a. rules) that contain this attribute/item as its part.
                        To be considered - if this is a good idea.
                        Mutually exclusive with "confidence".

                        NOT IMPLEMENTED YET.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="item" type="t:ItemPathType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Item to which this attribute should be correlated to. (To be used only for attributes.
                        Not necessary if there is a single item bound to that attribute by a suitable inbound mapping.)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="IdentityItemDefinitionType">
        <xsd:annotation>
            <xsd:documentation>
                TODO
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.6</a:since>
                <a:container>true</a:container>
                <a:experimental>true</a:experimental>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Name of this identity item. By default, the last segment of the item path is considered
                        to be the item name.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="FocusIdentitiesType">
        <xsd:annotation>
            <xsd:documentation>
                Alternative identities for a focus.
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.6</a:since>
                <a:container>true</a:container>
                <a:experimental>true</a:experimental>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="identity" type="tns:FocusIdentityType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        A single (alternative) identity.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="FocusIdentityType">
        <xsd:annotation>
            <xsd:documentation>
                Alternative identity for a focus.
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.6</a:since>
                <a:container>true</a:container>
                <a:experimental>true</a:experimental>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="source" type="tns:FocusIdentitySourceType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Source of the identity data. Conceptually similar to `ProvenanceAcquisitionType`, but there are some
                        small differences: we are not interested in the timestamp (yet), and we keep more detailed information
                        for resource objects.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="items" type="tns:FocusIdentityItemsType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Content (items) of the identity.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="FocusIdentitySourceType">
        <xsd:annotation>
            <xsd:documentation>
                Source of a focus identity.
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.6</a:since>
                <a:container>true</a:container>
                <a:experimental>true</a:experimental>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="originRef" type="tns:ObjectReferenceType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Reference to identity origin.

                        _Origin_ is an abstract, high-level representation of data source.
                        It represents something that the users will understand, such as _human resource data_,
                        _marketing data broker_ or _self-service user data entry_. Origin is an ordinary midPoint object,
                        it is expected that _org_ or _service_ will usually be used to represent origin.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="resourceRef" type="tns:ObjectReferenceType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        The resource on which the object providing the identity resides. (If applicable.)
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:objectReferenceTargetType>tns:ResourceType</a:objectReferenceTargetType>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kind" type="tns:ShadowKindType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Kind of resource object providing the identity. (If applicable.)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="intent" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Intent of resource object providing the identity. (If applicable.)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tag" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Tag of shadow of the resource object providing the identity. (If applicable.)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="shadowRef" type="tns:ObjectReferenceType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        The shadow of the resource object that provides the identity. (If applicable.)

                        TODO Is this really needed?
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:objectReferenceTargetType>tns:ShadowType</a:objectReferenceTargetType>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="FocusIdentityItemsType">
        <xsd:annotation>
            <xsd:documentation>
                Content of the identity.
            </xsd:documentation>
            <xsd:appinfo>
                <a:since>4.6</a:since>
                <a:container>true</a:container>
                <a:experimental>true</a:experimental>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="original" type="tns:IdentityItemsType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Original versions of identity items.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="normalized" type="tns:IdentityItemsType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Normalized versions of identity items.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="IdentityItemsType">
        <xsd:annotation>
            <xsd:documentation>
                Set of items that form an identity. May be normalized or not.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:any minOccurs="0" maxOccurs="unbounded" processContents="lax">
            </xsd:any>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

</xsd:schema>
