infra/schema/src/main/resources/xml/ns/public/common/common-mining-3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2010-2023 Evolveum and contributors
  ~
  ~ This work is dual-licensed under the Apache License 2.0
  ~ and European Union Public License. See LICENSE file for details.
  -->

<!--suppress XmlUnusedNamespaceDeclaration -->
<xsd:schema targetNamespace="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
        xmlns:tns="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:a="http://prism.evolveum.com/xml/ns/public/annotation-3"
        xmlns:c="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
        xmlns:t="http://prism.evolveum.com/xml/ns/public/types-3"
        xmlns:q="http://prism.evolveum.com/xml/ns/public/query-3"
        xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
        elementFormDefault="qualified"
        xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
        jaxb:extensionBindingPrefixes="xjc"
        jaxb:version="2.0">

    <xsd:annotation>
        <xsd:documentation>
            TODO
        </xsd:documentation>
    </xsd:annotation>

    <!-- Don't provide schemaLocation here, as it causes xjc to really contact the URIs (!) -->
    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/annotation-3"/>
    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/types-3"/>
    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/query-3"/>

    <xsd:include schemaLocation="http://midpoint.evolveum.com/xml/ns/public/common/common-core-3"/>

    <xsd:complexType name="RoleAnalysisCluster">
        <xsd:annotation>
            <xsd:documentation>
                A set of clusters based on density and similarity. An object defines a group of objects that are similar
                according to the specified conditions or fall into one category based on the specified conditions.
            </xsd:documentation>
            <xsd:appinfo>
                <a:object/>
                <a:since>4.8</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:AssignmentHolderType">
                <xsd:sequence>

                    <xsd:element name="elements" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>
                                The main object that was analyzed. In the case of ROLE MODE, the list of role object (elements = roles)
                                IDs that make up the given group is included in the object. In the case of USER MODE,
                                the list of users object (elements = users) IDs that make up the given group is included in the object.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="elementsCount" type="xsd:int" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                <p>
                                    The absolute value of the elements in the given group.
                                    In the case of USER MODE, it is the count of users. (elements = users)
                                    In the case of ROLE MODE, it is the count of roles. (elements = roles)
                                </p>
                            </xsd:documentation>
                            <xsd:appinfo>
                                <a:displayName>RoleAnalysisCluster.elementsCount</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="pointsCount" type="xsd:int" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                <p>
                                    The absolute value of the points (objects) according to which the "elements" were included
                                    in the given group.
                                    In the case of USER MODE, it is the count of roles. (roles = points, elements = users)
                                    In the case of ROLE MODE, it is the count of users. (users = points, elements = roles)
                                </p>
                            </xsd:documentation>
                            <xsd:appinfo>
                                <a:displayName>RoleAnalysisCluster.pointCount</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="parentRef" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                Identifies the parent object under which the RoleAnalysisCluster is included.
                                The UUID is commonly used for this purpose.
                            </xsd:documentation>
                            <xsd:appinfo>
                                <a:displayName>RoleAnalysisCluster.parentRef</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="defaultDetection" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>
                                It consists of a sheet of oids of objects in which a match was found according
                                to the set parameters. These objects are subsequently processed as a proposal
                                for applying changes in the system (Business role).
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="pointsDensity" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                <p>
                                    Context of clustering refers to the measure of how tightly packed or concentrated the
                                    data points are within a cluster.
                                    This parameter represents the total overlap of compared objects.

                                    In the case of USER MODE, it is the role overlay over all users.
                                    In the case of ROLE MODE, it is the role overlay over all roles.
                                </p>
                            </xsd:documentation>
                            <xsd:appinfo>
                                <a:displayName>RoleAnalysisCluster.density</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="pointsMean" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                <p>
                                    Average number of compared objects (points) per element in a given group (RoleAnalysisCluster).
                                    In the case of USER MODE, it is the average number of roles. (points = roles)
                                    In the case of ROLE MODE, it is the average number of users. (points = users)
                                </p>
                            </xsd:documentation>
                            <xsd:appinfo>
                                <a:displayName>RoleAnalysisCluster.mean</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="pointsMinOccupation" type="xsd:int" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                <p>
                                    Minimum number of compared objects (points) among the element in a given group (RoleAnalysisCluster).
                                    In the case of USER MODE, it is the minimum roles set size. (points = roles)
                                    In the case of ROLE MODE, it is the minimum users set size. (points = users)
                                </p>
                            </xsd:documentation>
                            <xsd:appinfo>
                                <a:displayName>RoleAnalysisCluster.minOccupation</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="pointsMaxOccupation" type="xsd:int" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                <p>
                                    Maximum number of compared objects (points) among the element in a given group (RoleAnalysisCluster).
                                    In the case of USER MODE, it is the highest roles set size. (points = roles)
                                    In the case of ROLE MODE, it is the highest users set size. (points = users)
                                </p>
                            </xsd:documentation>
                            <xsd:appinfo>
                                <a:displayName>RoleAnalysisCluster.maxOccupation</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="riskLevel" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                <p>
                                    Not currently used (future).
                                    Indication of the level of risk associated with the (RoleAnalysisCluster).
                                    This may be a numeric value, textual label are any other suitable machine-processable indication.
                                </p>
                            </xsd:documentation>
                            <xsd:appinfo>
                                <a:displayName>RoleAnalysisCluster.riskLevel</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>

    </xsd:complexType>

    <xsd:element name="roleAnalysisCluster" type="tns:RoleAnalysisCluster" substitutionGroup="tns:object"/>





    <xsd:complexType name="RoleAnalysisSessionType">
        <xsd:annotation>
            <xsd:documentation>
                <p>
                    The RoleAnalysisSessionType represents a session for role analysis, providing a container for
                    RoleAnalysisCluster objects. It serves as a parent object that contains references and basic
                    information about its child clusters (RoleAnalysisSessionType).
                </p>
            </xsd:documentation>
            <xsd:appinfo>
                <a:object/>
                <a:since>4.8</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:AssignmentHolderType">
                <xsd:sequence>

                    <xsd:element name="roleAnalysisClusterRef" type="c:ObjectReferenceType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>
                                <p>
                                    The roleAnalysisClusterRef element represents references to clusters
                                    associated with the role analysis session.
                                </p>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="clusterOptions" type="c:RoleAnalysisSessionClusterOptionType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                <p>
                                    Object clustering options.

                                    Furthermore, the role analysis session allows for the possibility of updating these values.
                                    If there is a need to modify or refine the cluster options during the analysis process, the values
                                    associated with the keys can be updated accordingly. This flexibility enables fine-tuning of the
                                    role analysis based on changing requirements or new insights gained during the analysis phase.
                                </p>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="patternDetectionOptions" type="c:RoleAnalysisSessionDetectionOptionType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                <p>
                                    Default business roles detection options.

                                    Furthermore, the role analysis session allows for the possibility of updating these values.
                                    If there is a need to modify or refine the cluster options during the analysis process, the values
                                    associated with the keys can be updated accordingly. This flexibility enables fine-tuning of the
                                    role analysis based on changing requirements or new insights gained during the analysis phase.
                                </p>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="sessionStatistic" type="c:RoleAnalysisSessionStatisticType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                <p>
                                    The container consists of statistical data about the RoleAnalysisSession.
                                </p>
                            </xsd:documentation>
                            <xsd:appinfo>
                                <a:displayName>RoleAnalysisSessionStatisticType.sessionStatistic</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>

    </xsd:complexType>

    <xsd:element name="roleAnalysisSession" type="tns:RoleAnalysisSessionType" substitutionGroup="tns:object"/>


    <xsd:complexType name="RoleAnalysisSessionClusterOptionType">
        <xsd:annotation>
            <xsd:documentation>
                Object clustering options.

                Furthermore, the role analysis session allows for the possibility of updating these values.
                If there is a need to modify or refine the cluster options during the analysis process, the values
                associated with the keys can be updated accordingly. This flexibility enables fine-tuning of the
                role analysis based on changing requirements or new insights gained during the analysis phase.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="axiomFilter" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Specifies the query or filter applied to the userType object.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisSessionClusterOptionType.axiomFilter</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="processMode" type="tns:RoleAnalysisProcessModeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            The mode element specifies the process mode for role analysis. It determines the specific approach
                            or methodology used during the analysis. The value of this element is a string that describes the
                            process mode.

                            We currently use an enum type to identify the mode (ROLE MODE, USER MODE)
                            For Role Analysis (ROLE MODE):
                            Role perspective is taken into account. The role mining process focuses on identifying
                            and analyzing roles based on their similarity and considering the perspective of roles
                            (vectors of users who have this role are compared). Objects
                            that meet the specified conditions, determined by the input parameters, are added to the data set
                            to facilitate role mining

                            For User Analysis (USER MODE):
                            User perspective is taken into account. The user mining process focuses on identifying and
                            analyzing users based on their similarity and considering the perspective of users
                            (the role vectors assigned to the given users are compared). Objects that
                            meet the specified conditions, determined by the input parameters, are added to the data set to
                            facilitate role mining.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisProcessModeType.processMode</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="similarityThreshold" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Similarity threshold used for clustering (Jaccard)
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisSessionClusterOptionType.similarityThreshold</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="minUniqueGroupCount" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Specifies the minimum size of a group (unique objects).
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisSessionClusterOptionType.minUniqueGroupSize</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="minPropertiesCount" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Minimum count of relation with compared object. USER MODE - min role assign. ROLE MODE - min members count.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisSessionClusterOptionType.minPropertiesCount</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="minPropertyOverlap" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Minimum property overlap size.
                            In the case of USER MODE, the user is included in the analysis, if there are other users who have
                            at least "minOverlapCondition" equal roles.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisSessionClusterOptionType.minPropertyOverlap</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="RoleAnalysisSessionDetectionOptionType">
        <xsd:annotation>
            <xsd:documentation>
                Default business roles detection options.

                Furthermore, the role analysis session allows for the possibility of updating these values.
                If there is a need to modify or refine the cluster options during the analysis process, the values
                associated with the keys can be updated accordingly. This flexibility enables fine-tuning of the
                role analysis based on changing requirements or new insights gained during the analysis phase.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="minPropertyOverlap" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Minimum property overlap size.
                            In the case of USER MODE, the user is included in the analysis, if there are other users who have
                            at least "minOverlapCondition" equal roles.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisSessionDetectionOptionType.minOverlap</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="minOccupancy" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            The minimum number of objects covered by the found business role.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisSessionDetectionOptionType.minOccupancy</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="minFrequencyThreshold" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Minimum required frequency. If the condition is not met, the objects are not included in the
                            detection (search).
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisSessionDetectionOptionType.minFrequencyThreshold</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="maxFrequencyThreshold" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Maximum required frequency. If the condition is not met, the objects are not included in the
                            detection (search).
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisSessionDetectionOptionType.maxFrequencyThreshold</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="jaccardSimilarityThreshold" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            A similarity threshold used to find similar objects based on their properties.
                            Only allowed in JACCARD search mode.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisSessionDetectionOptionType.jaccardSimilarityThreshold</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="searchMode" type="tns:RoleAnalysisSearchModeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Business role search or detection mode.
                            JACCARD - search by jaccard index.
                            INTERSECTION - exact search by overlapping properties.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisSearchModeType.searchMode</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="RoleAnalysisSessionStatisticType">
        <xsd:annotation>
            <xsd:documentation>
                The container consists of statistical data about the RoleAnalysisSession.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="processedObjectsCount" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            ProcessedObjectsCount represents the number of main objects (processed objects)
                            that are part of clusters (RoleAnalysisSessionType).
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisSessionStatisticType.processedObjectCount</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="meanDensity" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            It expresses the average overlap density of child clusters (RoleAnalysisSessionType).
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisSessionStatisticType.meanDensity</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="riskLevel" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Not currently used (future).
                            Indication of the level of risk associated with the child clusters (RoleAnalysisSessionType).
                            This may be a numeric value, textual label are any other suitable machine-processable indication.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisSessionStatisticType.riskLevel</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>


    <xsd:simpleType name="RoleAnalysisProcessModeType">
        <xsd:annotation>
            <xsd:documentation>
                Enum value for process mode.
            </xsd:documentation>
            <xsd:appinfo>
                <a:experimental>true</a:experimental>
                <a:since>4.8</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="role">
                <xsd:annotation>
                    <xsd:documentation>
                        This mapping should be used during parsing over role objects
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="ROLE"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="user">
                <xsd:annotation>
                    <xsd:documentation>
                        This mapping should be used during parsing over user objects
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="USER"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="RoleAnalysisSearchModeType">
        <xsd:annotation>
            <xsd:documentation>
                Enum value for search mode.
            </xsd:documentation>
            <xsd:appinfo>
                <a:experimental>true</a:experimental>
                <a:since>4.8</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="jaccard">
                <xsd:annotation>
                    <xsd:documentation>
                        This mapping should be used during jaccard search.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="JACCARD"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="intersection">
                <xsd:annotation>
                    <xsd:documentation>
                        This mapping should be used during intersection search.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="INTERSECTION"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
