infra/schema/src/main/resources/xml/ns/public/common/common-mining-3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2010-2023 Evolveum and contributors
  ~
  ~ This work is dual-licensed under the Apache License 2.0
  ~ and European Union Public License. See LICENSE file for details.
  -->

<!--suppress XmlUnusedNamespaceDeclaration -->
<xsd:schema targetNamespace="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
        xmlns:tns="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:a="http://prism.evolveum.com/xml/ns/public/annotation-3"
        xmlns:c="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
        xmlns:t="http://prism.evolveum.com/xml/ns/public/types-3"
        xmlns:q="http://prism.evolveum.com/xml/ns/public/query-3"
        xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
        elementFormDefault="qualified"
        xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
        jaxb:extensionBindingPrefixes="xjc"
        jaxb:version="2.0">

    <xsd:annotation>
        <xsd:documentation>
            Parts of the role of analysts.
        </xsd:documentation>
    </xsd:annotation>

    <!-- Don't provide schemaLocation here, as it causes xjc to really contact the URIs (!) -->
    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/annotation-3"/>
    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/types-3"/>
    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/query-3"/>

    <xsd:include schemaLocation="http://midpoint.evolveum.com/xml/ns/public/common/common-core-3"/>



    <xsd:complexType name="RoleAnalysisClusterType">
        <xsd:annotation>
            <xsd:documentation>
                A set of grouped objects based on density and similarity.
                Role analysis cluster defines a group of objects that are similar
                or fall into one category based on the specified conditions.
            </xsd:documentation>
            <xsd:appinfo>
                <a:object/>
                <a:since>4.8</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:AssignmentHolderType">
                <xsd:sequence>

                    <xsd:element name="member" type="c:ObjectReferenceType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>
                                The "main" object that was analyzed and determined to be part of this cluster.
                                In the case of ROLE MODE, the list of role object (members = roles) references that make up
                                the given group is included in the object.
                                In the case of USER MODE, the list of users object (members = users) references that make up
                                the given group is included in the object.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="roleAnalysisSessionRef" type="c:ObjectReferenceType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                Identifies the role analysis session ("parent") under which the cluster is included.
                            </xsd:documentation>
                            <xsd:appinfo>
                                <a:displayName>RoleAnalysisClusterType.roleAnalysisSessionRef</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>


                    <xsd:element name="clusterStatistics" type="c:AnalysisClusterStatisticType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                <p>
                                    The container consists of statistical data about the cluster.
                                </p>
                            </xsd:documentation>
                            <xsd:appinfo>
                                <a:displayName>AnalysisClusterStatisticType.clusterStatistic</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="detectedPattern" type="c:RoleAnalysisDetectionPatternType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>
                                It consists of a sheet of reference objects and their specifications in which matches are found
                                based on the set parameters. These objects are subsequently processed as proposals for
                                implementing changes in the system (Business role).
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="detectionOption" type="c:RoleAnalysisDetectionOptionType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                <p>
                                    Options for detecting Business Roles.

                                    These parameters serve as key specifications for performing searches
                                    and analyzes aimed at discovering different business roles.
                                </p>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="resolvedPattern" type="c:ObjectReferenceType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>
                                Applied business roles.
                            </xsd:documentation>
                            <xsd:appinfo>
                                <a:displayName>RoleAnalysisClusterType.reductionObjects</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>

    </xsd:complexType>

    <xsd:element name="roleAnalysisCluster" type="tns:RoleAnalysisClusterType" substitutionGroup="tns:object"/>

    <xsd:complexType name="RoleAnalysisSessionType">
        <xsd:annotation>
            <xsd:documentation>
                <p>
                    Session for role analysis, e.g. a role mining session.
                    Specifies settings for a session, and contains session results,
                    e.g. providing a container for role analysis cluster objects.
                </p>
            </xsd:documentation>
            <xsd:appinfo>
                <a:object/>
                <a:since>4.8</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:AssignmentHolderType">
                <xsd:sequence>

                    <xsd:element name="processMode" type="tns:RoleAnalysisProcessModeType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                <p>
                                    Process mode for role analysis. It determines the specific approach
                                    or methodology used during the analysis.

                                    We currently use an enum type to identify the mode (ROLE MODE, USER MODE)
                                    For Role Analysis (ROLE):
                                    Role perspective is taken into account. The role mining process focuses on identifying
                                    and analyzing roles based on their similarity and considering the perspective of roles
                                    (vectors of users who have this role are compared). Objects
                                    that meet the specified conditions, determined by the input parameters, are added to the data set
                                    to facilitate role mining

                                    For User Analysis (USER):
                                    User perspective is taken into account. The user mining process focuses on identifying and
                                    analyzing users based on their similarity and considering the perspective of users
                                    (the role vectors assigned to the given users are compared). Objects that
                                    meet the specified conditions, determined by the input parameters, are added to the data set to
                                    facilitate role mining.
                                </p>
                            </xsd:documentation>
                            <xsd:appinfo>
                                <a:displayName>RoleAnalysisProcessModeType.processMode</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="roleModeOptions" type="c:RoleAnalysisSessionOptionType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                <p>
                                    Object clustering options.

                                    Specification of parameters utilized for establishing cluster
                                    generation conditions, specifically pertaining to the role analysis clusters.
                                    These parameters play a critical role in defining the criteria and conditions for
                                    grouping objects into clusters, enabling effective role analysis.

                                    Furthermore, the role analysis session allows for the possibility of updating these values.
                                    If there is a need to modify or refine the cluster options during the analysis process, the values
                                    associated with the keys can be updated accordingly. This flexibility enables fine-tuning of the
                                    role analysis based on changing requirements or new insights gained during the analysis phase.
                                </p>
                            </xsd:documentation>
                            <xsd:appinfo>
                                <a:displayName>RoleAnalysisSessionType.roleModeOptions</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>

                    </xsd:element>

                    <xsd:element name="userModeOptions" type="c:UserAnalysisSessionOptionType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                <p>
                                    Object clustering options.

                                    Specification of parameters utilized for establishing cluster
                                    generation conditions, specifically pertaining to the role analysis clusters.
                                    These parameters play a critical role in defining the criteria and conditions for
                                    grouping objects into clusters, enabling effective role analysis.

                                    Furthermore, the role analysis session allows for the possibility of updating these values.
                                    If there is a need to modify or refine the cluster options during the analysis process, the values
                                    associated with the keys can be updated accordingly. This flexibility enables fine-tuning of the
                                    role analysis based on changing requirements or new insights gained during the analysis phase.
                                </p>
                            </xsd:documentation>
                            <xsd:appinfo>
                                <a:displayName>RoleAnalysisSessionType.userModeOptions</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>

                    </xsd:element>

                    <xsd:element name="sessionStatistic" type="c:RoleAnalysisSessionStatisticType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                <p>
                                    The container consists of statistical data about the role analysis session.
                                </p>
                            </xsd:documentation>
                            <xsd:appinfo>
                                <a:displayName>RoleAnalysisSessionStatisticType.sessionStatistic</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>

                    </xsd:element>

                    <xsd:element name="defaultDetectionOption" type="c:RoleAnalysisDetectionOptionType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                <p>
                                    Default options for detecting Business Roles.

                                    These parameters serve as key specifications for performing searches
                                    and analyzes aimed at discovering different business roles.
                                </p>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>

                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>

    </xsd:complexType>

    <xsd:element name="roleAnalysisSession" type="tns:RoleAnalysisSessionType" substitutionGroup="tns:object"/>

    <xsd:complexType name="AnalysisClusterStatisticType">
        <xsd:annotation>
            <xsd:documentation>
                The container consists of statistical data about role analysis cluster.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="usersCount" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Number of members in the cluster.
                            In the case of USER MODE, it is the count of users. (members = users)
                            In the case of ROLE MODE, it is the count of roles. (members = roles)
                        </p>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="rolesCount" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Number of the properties (objects) according to which the "members" were included
                            in the given group.
                            In the case of USER MODE, it is the count of roles. (roles = properties, members = users)
                            In the case of ROLE MODE, it is the count of users. (users = properties, members = roles)
                        </p>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="membershipDensity" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Properties density refers to the measure of how tightly packed or concentrated the
                            data points are within a cluster.
                            This parameter represents the total overlap of compared objects.

                            In the case of USER MODE, it is the role (properties) overlay over all users (members).
                            In the case of ROLE MODE, it is the user (properties) overlay over all roles (members).
                        </p>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="membershipMean" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Average number of compared objects (properties) per member in a cluster.
                            In the case of USER MODE, it is the average number of roles (properties).
                            In the case of ROLE MODE, it is the average number of users (properties).
                        </p>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="membershipRange" type="tns:RangeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Specifies the minimum and maximum required number of properties.
                            If the condition is not met, the object is excluded.
                            USER MODE - min role assign.
                            ROLE MODE - min members count.
                        </p>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="detectedReductionMetric" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>

                        </p>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="riskLevel" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Indication of the level of risk associated with the cluster.
                            This may be a numeric value, textual label are any other suitable machine-processable indication.

                            Currently not used (reserved for future use).
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:experimental>true</a:experimental>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>
    <xsd:element name="analysisClusterStatisticType" type="tns:AnalysisClusterStatisticType"/>



    <xsd:complexType name="AbstractAnalysisSessionOptionType">
        <xsd:annotation>
            <xsd:documentation>
                Object clustering options.

                Specification of parameters utilized for establishing cluster
                generation conditions, specifically pertaining to the RoleAnalysisClusterType.
                These parameters play a critical role in defining the criteria and conditions for
                grouping objects into clusters, enabling effective role analysis.

                Furthermore, the role analysis session allows for the possibility of updating these values.
                If there is a need to modify or refine the cluster options during the analysis process, the values
                associated with the keys can be updated accordingly. This flexibility enables fine-tuning of the
                role analysis based on changing requirements or new insights gained during the analysis phase.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="query" type="q:SearchFilterType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Specifies the query or filter applied to the objects.
                            Only the objects that match the filter are included in the analysis.
                        </p>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="similarityThreshold" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Similarity threshold used for clustering (Jaccard).
                            If the condition is not met, then the objects are grouped.
                        </p>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="minMembersCount" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Specifies the minimum required cluster size (member objects).

                            NOTE: The parameter checks the number of these unique objects, not the total
                            number of included objects in the cluster.
                        </p>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="propertiesRange" type="tns:RangeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Specifies the minimum and maximum required number of properties.
                            If the condition is not met, the object is excluded.
                            USER MODE - min role assign.
                            ROLE MODE - min members count.
                        </p>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="minPropertiesOverlap" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Minimum property overlap size between cluster members.

                            In the case of USER MODE, the user (member) is included in the cluster, if there are other user(s) who have
                            at least "minOverlapCondition" equal roles.
                            In the case of ROLE MODE, the role (member) is included in the cluster, if there are other role(s) who have
                            at least "minOverlapCondition" equal users.
                        </p>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>
    <xsd:element name="abstractAnalysisSessionOption" type="tns:AbstractAnalysisSessionOptionType"/>

    <xsd:complexType name="RoleAnalysisSessionOptionType">
        <xsd:annotation>
            <xsd:documentation>
                Object clustering options for "role" mode.

                Specification of parameters utilized for establishing cluster
                generation conditions, specifically pertaining to the RoleAnalysisClusterType.
                These parameters play a critical role in defining the criteria and conditions for
                grouping objects into clusters, enabling effective role analysis.

                Furthermore, the role analysis session allows for the possibility of updating these values.
                If there is a need to modify or refine the cluster options during the analysis process, the values
                associated with the keys can be updated accordingly. This flexibility enables fine-tuning of the
                role analysis based on changing requirements or new insights gained during the analysis phase.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="c:AbstractAnalysisSessionOptionType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="UserAnalysisSessionOptionType">
        <xsd:annotation>
            <xsd:documentation>
                Object clustering options for "user" mode.

                Specification of parameters utilized for establishing cluster
                generation conditions, specifically pertaining to the RoleAnalysisClusterType.
                These parameters play a critical role in defining the criteria and conditions for
                grouping objects into clusters, enabling effective role analysis.

                Furthermore, the role analysis session allows for the possibility of updating these values.
                If there is a need to modify or refine the cluster options during the analysis process, the values
                associated with the keys can be updated accordingly. This flexibility enables fine-tuning of the
                role analysis based on changing requirements or new insights gained during the analysis phase.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="c:AbstractAnalysisSessionOptionType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="RoleAnalysisSessionStatisticType">
        <xsd:annotation>
            <xsd:documentation>
                The container consists of statistical data about the role analysis session.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="processedObjectCount" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Number of members objects
                            that are part of clusters belonging to role analysis session.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisSessionStatisticType.processedObjectCount</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>


            <xsd:element name="clusterCount" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Number of cluster objects
                            that are part of clusters belonging to role analysis session.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisSessionStatisticType.clusterCount</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="meanDensity" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            It expresses the average overlap density of child clusters (RoleAnalysisClusterType).
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisSessionStatisticType.meanDensity</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="riskLevel" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Indication of the level of risk associated with the session.
                            This may be a numeric value, textual label are any other suitable machine-processable indication.

                            Currently not used (reserved for future use).
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisSessionStatisticType.riskLevel</a:displayName>
                        <a:experimental>true</a:experimental>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="RoleAnalysisDetectionPatternType">
        <xsd:annotation>
            <xsd:documentation>
                Contains information about detected or found patterns.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="userOccupancy" type="c:ObjectReferenceType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Set of objects that was analyzed and determined to be part of this group.
                        In the case of ROLE MODE, the list of roles (members) objects
                        that make up the given group. In the case of USER MODE,
                        the list of users (members) objects that make up the given group.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="rolesOccupancy" type="c:ObjectReferenceType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Properties used for comparison.
                        USER MODE (properties) - role assign.
                        ROLE MODE (properties) - members count.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="clusterMetric" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            It expresses the range of reduced values when applying the business role design.
                            (Included in the group (cluster))
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisDetectionType.clusterMetric</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="RoleAnalysisDetectionOptionType">
        <xsd:annotation>
            <xsd:documentation>
                Options for Detecting Business Roles

                These parameters serve as key specifications for performing searches
                and analyzes aimed at discovering different business roles.

                Furthermore, the role analysis session allows for the possibility of updating these values.
                If there is a need to modify or refine the cluster options during the analysis process, the values
                associated with the keys can be updated accordingly. This flexibility enables fine-tuning of the
                role analysis based on changing requirements or new insights gained during the analysis phase.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container>true</a:container>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="minRolesOccupancy" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Define the minimum required count of properties occupancy for detected patterns.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisDetectionOptionType.minRolesOccupancy</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="minUserOccupancy" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Define the minimum required count of members occupancy for detected patterns.
                            The minimum number of objects covered by the found business role.
                            In the case of USER MODE - the number of roles of which the business role consists.
                            In the case of ROLE MODE - the number of users to which the business role can be applied.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisDetectionOptionType.minUserOccupancy</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="frequencyRange" type="tns:RangeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Minimum and maximum required frequency. If the condition is not met, the objects are not included in the
                            detection (search).
                            In the case of USER MODE - frequency of application of roles (properties)
                            due to processed members(users)
                            In the case of ROLE MODE - frequency of disposition of users (properties)
                            due to processed members(roles)

                            Frequency expresses the percentage value of occupancy.
                            It refers to the number of occurrences of properties over cluster members.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisDetectionOptionType.frequencyRange</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="detectionProcessMode" type="tns:RoleAnalysisDetectionProcessType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Option for executing detection pattern.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RoleAnalysisDetectionOptionType.detectionProcessMode</a:displayName>
                        <a:experimental>true</a:experimental>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:simpleType name="RoleAnalysisProcessModeType">
        <xsd:annotation>
            <xsd:documentation>
                Role analysis processing mode (user or role).
            </xsd:documentation>
            <xsd:appinfo>
                <a:experimental>true</a:experimental>
                <a:since>4.8</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="role">
                <xsd:annotation>
                    <xsd:documentation>
                        This mapping should be used during parsing over role objects
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="ROLE"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="user">
                <xsd:annotation>
                    <xsd:documentation>
                        This mapping should be used during parsing over user objects
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="USER"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="RoleAnalysisDetectionProcessType">
        <xsd:annotation>
            <xsd:documentation>
                Role analysis detection processing mode.
            </xsd:documentation>
            <xsd:appinfo>
                <a:experimental>true</a:experimental>
                <a:since>4.8</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="full">
                <xsd:annotation>
                    <xsd:documentation>
                        This mapping should be used during detection pattern on all cluster objects.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="FULL"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="partial">
                <xsd:annotation>
                    <xsd:documentation>
                        This mapping should be used for skiping potential large clustering objects.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="PARTIAL"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="skip">
                <xsd:annotation>
                    <xsd:documentation>
                        This mapping should be used for skiping detection pattern on clustering objects.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="SKIP"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:complexType name="RangeType">
        <xsd:annotation>
            <xsd:documentation>
                TODO
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="min" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Minimum required frequency.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RangeType.min</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="max" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>
                            Maximum required frequency.
                        </p>
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>RangeType.max</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="range" type="tns:RangeType">
        <xsd:annotation>
            <xsd:documentation>
                Min - max range.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>


</xsd:schema>
