gui/admin-gui/src/test/resources/schema/midscale.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<!--
  ~ Copyright (C) 2010-2020 Evolveum and contributors
  ~
  ~ This work is dual-licensed under the Apache License 2.0
  ~ and European Union Public License. See LICENSE file for details.
  -->

<xsd:schema elementFormDefault="qualified"
            targetNamespace="http://example.com/xml/ns/midpoint/schema"
            xmlns:tns="http://example.com/xml/ns/midpoint/schema"
            xmlns:a="http://prism.evolveum.com/xml/ns/public/annotation-3"
            xmlns:c="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="UserExtensionType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:extension ref="c:UserType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="UserExt-1" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 1</a:displayName>
                        <a:displayOrder>1010</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-2" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 2</a:displayName>
                        <a:displayOrder>1020</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-3" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 3</a:displayName>
                        <a:displayOrder>1030</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-4" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 4</a:displayName>
                        <a:displayOrder>1040</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-5" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 5</a:displayName>
                        <a:displayOrder>1050</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-6" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 6</a:displayName>
                        <a:displayOrder>1060</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-7" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 7</a:displayName>
                        <a:displayOrder>1070</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-8" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 8</a:displayName>
                        <a:displayOrder>1080</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-9" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 9</a:displayName>
                        <a:displayOrder>1090</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-10" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 10</a:displayName>
                        <a:displayOrder>1100</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-11" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 11</a:displayName>
                        <a:displayOrder>1110</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-12" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 12</a:displayName>
                        <a:displayOrder>1120</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-13" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 13</a:displayName>
                        <a:displayOrder>1130</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-14" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 14</a:displayName>
                        <a:displayOrder>1140</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-15" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 15</a:displayName>
                        <a:displayOrder>1150</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-16" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 16</a:displayName>
                        <a:displayOrder>1160</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-17" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 17</a:displayName>
                        <a:displayOrder>1170</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-18" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 18</a:displayName>
                        <a:displayOrder>1180</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-19" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 19</a:displayName>
                        <a:displayOrder>1190</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-20" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 20</a:displayName>
                        <a:displayOrder>1200</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-21" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 21</a:displayName>
                        <a:displayOrder>1210</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-22" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 22</a:displayName>
                        <a:displayOrder>1220</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-23" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 23</a:displayName>
                        <a:displayOrder>1230</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-24" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 24</a:displayName>
                        <a:displayOrder>1240</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-25" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 25</a:displayName>
                        <a:displayOrder>1250</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-26" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 26</a:displayName>
                        <a:displayOrder>1260</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-27" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 27</a:displayName>
                        <a:displayOrder>1270</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-28" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 28</a:displayName>
                        <a:displayOrder>1280</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-29" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 29</a:displayName>
                        <a:displayOrder>1290</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-30" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 30</a:displayName>
                        <a:displayOrder>1300</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-31" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 31</a:displayName>
                        <a:displayOrder>1310</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-32" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 32</a:displayName>
                        <a:displayOrder>1320</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-33" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 33</a:displayName>
                        <a:displayOrder>1330</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-34" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 34</a:displayName>
                        <a:displayOrder>1340</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-35" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 35</a:displayName>
                        <a:displayOrder>1350</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-36" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 36</a:displayName>
                        <a:displayOrder>1360</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-37" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 37</a:displayName>
                        <a:displayOrder>1370</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-38" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 38</a:displayName>
                        <a:displayOrder>1380</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-39" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 39</a:displayName>
                        <a:displayOrder>1390</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-40" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 40</a:displayName>
                        <a:displayOrder>1400</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-41" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 41</a:displayName>
                        <a:displayOrder>1410</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-42" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 42</a:displayName>
                        <a:displayOrder>1420</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-43" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 43</a:displayName>
                        <a:displayOrder>1430</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-44" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 44</a:displayName>
                        <a:displayOrder>1440</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-45" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 45</a:displayName>
                        <a:displayOrder>1450</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-46" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 46</a:displayName>
                        <a:displayOrder>1460</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-47" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 47</a:displayName>
                        <a:displayOrder>1470</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-48" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 48</a:displayName>
                        <a:displayOrder>1480</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-49" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 49</a:displayName>
                        <a:displayOrder>1490</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-50" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 50</a:displayName>
                        <a:displayOrder>1500</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-51" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 51</a:displayName>
                        <a:displayOrder>1510</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-52" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 52</a:displayName>
                        <a:displayOrder>1520</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-53" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 53</a:displayName>
                        <a:displayOrder>1530</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-54" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 54</a:displayName>
                        <a:displayOrder>1540</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-55" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 55</a:displayName>
                        <a:displayOrder>1550</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-56" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 56</a:displayName>
                        <a:displayOrder>1560</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-57" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 57</a:displayName>
                        <a:displayOrder>1570</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-58" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 58</a:displayName>
                        <a:displayOrder>1580</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-59" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 59</a:displayName>
                        <a:displayOrder>1590</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-60" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 60</a:displayName>
                        <a:displayOrder>1600</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-61" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 61</a:displayName>
                        <a:displayOrder>1610</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-62" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 62</a:displayName>
                        <a:displayOrder>1620</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-63" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 63</a:displayName>
                        <a:displayOrder>1630</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-64" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 64</a:displayName>
                        <a:displayOrder>1640</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-65" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 65</a:displayName>
                        <a:displayOrder>1650</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-66" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 66</a:displayName>
                        <a:displayOrder>1660</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-67" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 67</a:displayName>
                        <a:displayOrder>1670</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-68" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 68</a:displayName>
                        <a:displayOrder>1680</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-69" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 69</a:displayName>
                        <a:displayOrder>1690</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-70" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 70</a:displayName>
                        <a:displayOrder>1700</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-71" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 71</a:displayName>
                        <a:displayOrder>1710</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-72" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 72</a:displayName>
                        <a:displayOrder>1720</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-73" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 73</a:displayName>
                        <a:displayOrder>1730</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-74" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 74</a:displayName>
                        <a:displayOrder>1740</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-75" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 75</a:displayName>
                        <a:displayOrder>1750</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-76" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 76</a:displayName>
                        <a:displayOrder>1760</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-77" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 77</a:displayName>
                        <a:displayOrder>1770</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-78" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 78</a:displayName>
                        <a:displayOrder>1780</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-79" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 79</a:displayName>
                        <a:displayOrder>1790</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-80" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 80</a:displayName>
                        <a:displayOrder>1800</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-81" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 81</a:displayName>
                        <a:displayOrder>1810</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-82" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 82</a:displayName>
                        <a:displayOrder>1820</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-83" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 83</a:displayName>
                        <a:displayOrder>1830</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-84" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 84</a:displayName>
                        <a:displayOrder>1840</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-85" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 85</a:displayName>
                        <a:displayOrder>1850</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-86" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 86</a:displayName>
                        <a:displayOrder>1860</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-87" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 87</a:displayName>
                        <a:displayOrder>1870</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-88" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 88</a:displayName>
                        <a:displayOrder>1880</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-89" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 89</a:displayName>
                        <a:displayOrder>1890</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-90" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 90</a:displayName>
                        <a:displayOrder>1900</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-91" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 91</a:displayName>
                        <a:displayOrder>1910</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-92" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 92</a:displayName>
                        <a:displayOrder>1920</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-93" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 93</a:displayName>
                        <a:displayOrder>1930</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-94" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 94</a:displayName>
                        <a:displayOrder>1940</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-95" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 95</a:displayName>
                        <a:displayOrder>1950</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-96" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 96</a:displayName>
                        <a:displayOrder>1960</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-97" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 97</a:displayName>
                        <a:displayOrder>1970</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-98" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 98</a:displayName>
                        <a:displayOrder>1980</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-99" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 99</a:displayName>
                        <a:displayOrder>1990</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-100" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 100</a:displayName>
                        <a:displayOrder>2000</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-101" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 101</a:displayName>
                        <a:displayOrder>2010</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-102" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 102</a:displayName>
                        <a:displayOrder>2020</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-103" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 103</a:displayName>
                        <a:displayOrder>2030</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-104" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 104</a:displayName>
                        <a:displayOrder>2040</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-105" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 105</a:displayName>
                        <a:displayOrder>2050</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-106" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 106</a:displayName>
                        <a:displayOrder>2060</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-107" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 107</a:displayName>
                        <a:displayOrder>2070</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-108" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 108</a:displayName>
                        <a:displayOrder>2080</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-109" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 109</a:displayName>
                        <a:displayOrder>2090</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-110" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 110</a:displayName>
                        <a:displayOrder>2100</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-111" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 111</a:displayName>
                        <a:displayOrder>2110</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-112" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 112</a:displayName>
                        <a:displayOrder>2120</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-113" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 113</a:displayName>
                        <a:displayOrder>2130</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-114" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 114</a:displayName>
                        <a:displayOrder>2140</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-115" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 115</a:displayName>
                        <a:displayOrder>2150</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-116" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 116</a:displayName>
                        <a:displayOrder>2160</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-117" type="xsd:int" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 117</a:displayName>
                        <a:displayOrder>2170</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-118" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 118</a:displayName>
                        <a:displayOrder>2180</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-119" type="xsd:boolean" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 119</a:displayName>
                        <a:displayOrder>2190</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserExt-120" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>User Attribut 120</a:displayName>
                        <a:displayOrder>2200</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
</xsd:complexType>
</xsd:schema>
