infra/schema/src/main/resources/xml/ns/public/report/report-3.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  ~ Copyright (c) 2010-2014 Evolveum
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<definitions  name="report"
	targetNamespace="http://midpoint.evolveum.com/xml/ns/public/report/report-3"
    xmlns:tns="http://midpoint.evolveum.com/xml/ns/public/report/report-3"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:q="http://prism.evolveum.com/xml/ns/public/query-3"
    xmlns:c="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
    xmlns:apit="http://midpoint.evolveum.com/xml/ns/public/common/api-types-3"
    xmlns:f="http://midpoint.evolveum.com/xml/ns/public/common/fault-3"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" >
 <documentation>
 	Web service interface for jasper report data source provider
 </documentation>
 
   <types>
        <!-- Element form name is QUALIFIED to prevent some problems with marshalling/unmarshalling. This deviates from RPC/Literal convention, but we
             do not have to obey this convention -->
        <xsd:schema targetNamespace="http://midpoint.evolveum.com/xml/ns/public/report/report-3" elementFormDefault="qualified">
            <xsd:import namespace="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
            			schemaLocation="http://midpoint.evolveum.com/xml/ns/public/common/common-3"/>
            <xsd:import namespace="http://midpoint.evolveum.com/xml/ns/public/common/api-types-3"
            			schemaLocation="http://midpoint.evolveum.com/xml/ns/public/common/api-types-3"/>
            <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/query-3"
            			schemaLocation="http://prism.evolveum.com/xml/ns/public/query-3"/>
 
     
        <xsd:complexType name="ProcessReportType">
          <xsd:sequence>
            <xsd:element name="report" type="c:ReportType"/>
          </xsd:sequence>
        </xsd:complexType>
      <xsd:element name="processReport" type="tns:ProcessReportType" />
      
        <xsd:complexType name="ProcessReportResponseType">
          <xsd:sequence>
          <xsd:element name="objectList" type="apit:ObjectListType">
                        <xsd:annotation>
                            <xsd:documentation>
                                List of objects that match given criteria.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      <xsd:element name="processReportResponse" type="tns:ProcessReportResponseType"/>
      
<!--        <xsd:complexType name="ParseQueryType"> -->
<!--           <xsd:sequence> -->
<!--             <xsd:element name="query" type="xsd:string"/> -->
<!--             <xsd:element name="parameters" type="c:ParamsType"/> -->
<!--           </xsd:sequence> -->
<!--         </xsd:complexType> -->
<!--       <xsd:element name="parseQuery" type="tns:ParseQueryType" /> -->
      
<!--         <xsd:complexType name="ParseQueryResponseType"> -->
<!--           <xsd:sequence> -->
<!--           <xsd:element name="parsedQuery" type="q:QueryType"> -->
<!--                         <xsd:annotation> -->
<!--                             <xsd:documentation> -->
<!--                                 parsedQuery -->
<!--                             </xsd:documentation> -->
<!--                         </xsd:annotation> -->
<!--                     </xsd:element> -->
<!--           </xsd:sequence> -->
<!--         </xsd:complexType> -->
<!--       <xsd:element name="parseQueryResponse" type="tns:ParseQueryResponseType"/> -->
      
      
       <xsd:complexType name="SearchObjectsType">
                <xsd:annotation>
                    <xsd:documentation>
                        A request for searchObjects operation.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    
                    <xsd:element name="query" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                Search criteria. If not specified, all objects of a given type are returned.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                     <xsd:element name="parameters" type="c:ParamsType"/>
                    <xsd:element name="options" type="apit:SelectorQualifiedGetOptionsType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                Options influencing the retrieval and processing of objects.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="searchObjects" type="tns:SearchObjectsType"/>

            <xsd:complexType name="SearchObjectsResponseType">
                <xsd:annotation>
                    <xsd:documentation>
                        A response from searchObjects operation.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="objectList" type="apit:ObjectListType">
                        <xsd:annotation>
                            <xsd:documentation>
                                List of objects that match given criteria.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="searchObjectsResponse" type="tns:SearchObjectsResponseType"/>
            
            <xsd:complexType name="EvaluateScriptType">
                <xsd:annotation>
                    <xsd:documentation>
                        A request for searchObjects operation.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    
                    <xsd:element name="script" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                Script to evaluate
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                     <xsd:element name="parameters" type="c:ParamsType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                Parameters needed for script evaluation
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="evaluateScript" type="tns:EvaluateScriptType"/>

            <xsd:complexType name="EvaluateScriptResponseType">
                <xsd:annotation>
                    <xsd:documentation>
                        A response from searchObjects operation.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="objectList" type="apit:ObjectListType">
                        <xsd:annotation>
                            <xsd:documentation>
                                List of objects that match given criteria.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="evaluateScriptResponse" type="tns:EvaluateScriptResponseType"/>
      
       
    </xsd:schema>
  </types>
  
  <message name="processReport">
    <part element="tns:processReport" name="parameters"/>
  </message>
  <message name="processReportResponse">
    <part element="tns:processReportResponse" name="parameters"/>
  </message>
  
<!--    <message name="parseQuery"> -->
<!--     <part element="tns:parseQuery" name="parameters"/> -->
<!--   </message> -->
<!--   <message name="parseQueryResponse"> -->
<!--     <part element="tns:parseQueryResponse" name="parameters"/> -->
<!--   </message> -->
  
   <message name="searchObjects">
    <part element="tns:searchObjects" name="parameters"/>
  </message>
  <message name="searchObjectsResponse">
    <part element="tns:searchObjectsResponse" name="parameters"/>
  </message>
  
  <message name="evaluateScript">
    <part element="tns:evaluateScript" name="parameters"/>
  </message>
  <message name="evaluateScriptResponse">
    <part element="tns:evaluateScriptResponse" name="parameters"/>
  </message>
  
  <portType name="reportPortType">
    <operation name="processReport">
      <input message="tns:processReport"/>
      <output message="tns:processReportResponse"/>
    </operation>
<!--      <operation name="parseQuery"> -->
<!--       <input message="tns:parseQuery"/> -->
<!--       <output message="tns:parseQueryResponse"/> -->
<!--     </operation> -->
     <operation name="searchObjects">
      <input message="tns:searchObjects"/>
      <output message="tns:searchObjectsResponse"/>
    </operation>
    <operation name="evaluateScript">
      <input message="tns:evaluateScript"/>
      <output message="tns:evaluateScriptResponse"/>
    </operation>
  </portType>
  
  
  <binding name="reportBinding" type="tns:reportPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="processReport">
      <soap:operation name="processReport"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output name="processReportResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
<!--      <operation name="parseQuery"> -->
<!--       <soap:operation name="parseQuery"/> -->
<!--       <input> -->
<!--         <soap:body use="literal"/> -->
<!--       </input> -->
<!--       <output name="parseQueryResponse"> -->
<!--         <soap:body use="literal"/> -->
<!--       </output> -->
<!--     </operation> -->
     <operation name="searchObjects">
      <soap:operation name="searchObjects"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output name="searchObjectsResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="evaluateScript">
      <soap:operation name="evaluateScript"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output name="evaluateScriptResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="reportWebService">
        <port name="reportPort"
                   binding="tns:reportBinding">
            <soap:address location="http://localhost:8080/dummy"/>
        </port>
    </service>
</definitions>
