infra/schema/src/test/resources/processor/schema1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://schema.foo.com/bar"
			xmlns:tns="http://schema.foo.com/bar"
            elementFormDefault="qualified">
            
			<xsd:complexType name="type1">
				<xsd:sequence>
					<xsd:element name="prop1" type="xsd:string"/>
					<xsd:element name="prop2" type="xsd:integer"/>
				</xsd:sequence>
			</xsd:complexType>
			
</xsd:schema>
            